#*
 * @(#) ListCourse_Register.vm
 * Copyright (c) 2007 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:awadhk_t@yahoo.com ">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:shaistashekh@gmail.com ">Shaista</a> 
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Admin Home | Registration Management | CoursesList ")
$page.setBgColor("$ui.bgcolor")
$!data.getMessage()

<table bgcolor="$ui.tableColor" width=100% cellspacing=0>
<tr align="right">
	<td width="30%" align="right">
	#if( $total_size!=0 )
	#if( $endIndex < $total_size )
		#if( $endIndex < $AdminConf )
                [$k - $total_size] کل $total_size مڍں  منجانب
		#else
		[$k - $endIndex]  کل $total_size  مڍں  منجانب
		#end
	#else
	[$k - $total_size]  کل $total_size  مڍں  منجانب
	#end
	#end
	</td>
	<td>
	<font face="$ui.sansSerifFonts" size=3>
	<b>
     	<a href="$link.setPage("call,Admin.vm")">منتظم کا صفحہ</a> |
	
	<a href="$link.setPage("call,UserMgmt_Admin,RegisterationManagement.vm")">نظامِ رجسٹرڍشن </a> | 

	ثانوي معلم کے اندراج کے لۓ معلم کے رجسٹرڍشن کے لۓ 
	#if($mode!="Search")

	##$brih_view_all نصاب	
	منزرِ کل نصاب	

	#else

	منتخب کرے ٥وۓ نصابِ منزر  

	#end
	</td>

</tr>
</table>
<br>
<form name="frm" method="post" action="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm")">
<table border=1 align=center bgcolor="$ui.tableColor" cellpadding=1 cellspacing=1>
        <tr>
                <td>
                        <b><a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("mode","All")">نصاب کی فہرست </a></b>
                </td>
                <td>
                        <input type="button" name="Search" value="مشاہد٥" onClick="checkNull(document.frm,this);">
                        <input type="hidden" name="mode" value="Search">
                </td>
		<td align=left>
                        <input align=center type="text" name="valueString" value="">
                </td>
		<td align=center><b>مشاہد٥ کے لۓ الفاظ ڈالڍں </b></td>
		<td align=left>
                        <select name="queryList">
                                <option value=CourseId>نصاب کا آئڈى </option>
                                <option value="Course Name">نصاب کا نام</iption>
                                <option value=Dept>محکمہ</option>
                        </select>
                </td>
                <td align=center><b>مشاہداۓ زريہ</b></td>
                
                
        </tr>
</table>

#if($status == "Noblank" )

#set($headings = ["","صورت حال ","تخلڍقى تاریخ","وضاحت","محکمہ","نصاب کا نام","نصاب کا آئڈى "] )

<br>
<table bgcolor="$ui.tableColor" align="center">
  <tr>
    <td>
      <table border="1" cellspacing="1" cellpadding="1">
        <tr align="center">
          #foreach($heading in $headings)
        	  #headerCell($heading)
          #end    
        </tr>
        #foreach($entry in $courseDetail)
        <tr align="center">
		  <td bgcolor="$ui.tableColor">
		  	<font face="$ui.sansSerifFonts">
			<a href="$link.setPage("call,UserMgmt_Admin,RegisterSecInstructor.vm").addPathInfo("gName",$entry.getGroupName())">رجسٹرڍشن</a>
		  	</font>
		 </td>
		  #if($entry.getActive()=="1")

		  <td><font bgcolor="$ui.tableColor" color="Green">عمل</font></td>
		  #else
		  
		  <td><font bgcolor="$ui.tableColor" color="Red">بےعمل </font></td>
		  #end
		  #entryCell($entry.getCreateDate())
		  #entryCell($entry.getDescription())
		  #entryCell($entry.getDept())
		  #entryCell($entry.getGroupName())
		  <td bgcolor="$ui.tableColor">
		  	<font face="$ui.sansSerifFonts">
			$entry.getCourseName()
			</font>
			</td>
	</tr>
	#end
</table>
</td>
</tr>
         <tr bgcolor="$ui.menuColor">
	      <td align=center>
	 #if($mode!="Search")
	 #if($total_size<= $AdminConf)
	 
	 <u><font color="white">پہلا</font></u> &nbsp;
	 <u><font color="white">اگلا</font></u> &nbsp;
	 <u><font color="white">پچھلا</font></u> &nbsp;
	 <u><font color="white">آخری</font></u> &nbsp;

	  #elseif($startIndex== $AdminConf_str)

	  <u><font color="white">پہلا</font></u> &nbsp;
	  <u><font color="white">پچھلا</font></u> &nbsp;

	  <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode)">اگلا</a> &nbsp;
	  <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode)">آخری</a> &nbsp;
	 #elseif($endIndex == $total_size || $endIndex > $total_size)

         <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode)">پہلا</a> &nbsp;
 	 <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode)">پچھلا</a> &nbsp;
	 <u><font color="white">اگلا</font></u> &nbsp;
         <u><font color="white">آخری</font></u> &nbsp;
	  #else


	   <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode)">پہلا</a> &nbsp;
	   <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode)">پچھلا</a> &nbsp;
	   <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode)">اگلا</a> &nbsp;
	    <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode)">آخری</a> &nbsp;
     #end
     #else
	 #if($total_size<= $AdminConf)

	 <u><font color="white">پہلا</font></u> &nbsp;
	 <u><font color="white">اگلا</font></u> &nbsp;
	 <u><font color="white">پچھلا</font></u> &nbsp;
	 <u><font color="white">آخری</font></u> &nbsp;
	
	  #elseif($startIndex== $AdminConf_str)
	  <u><font color="white">پہلا</font></u> &nbsp;
	  <u><font color="white">پچھلا</font></u> &nbsp;
	  <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">اگلا</a> &nbsp;
	  <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">آخری</a> &nbsp;
	 #elseif($endIndex == $total_size || $endIndex > $total_size)
         <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">پہلا</a> &nbsp;
 	 <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">پچھلا</a> &nbsp;
	 <u><font color="white">اگلا</font></u> &nbsp;
         <u><font color="white">آخری</font></u> &nbsp;
	  #else
	   <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">پہلا</a> &nbsp;
	   <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">پچھلا</a> &nbsp;
	   <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">اگلا</a> &nbsp;
	    <a href="$link.setPage("call,ListMgmt_Admin,ListCourse_Register.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)">آخری</a> &nbsp;
     #end
    #end
    </td>
 </tr>
</table>
</table>
#end
</form>
<br>
<table width=60% border=1 bgcolor="$ui.menuColor" align=center>
#set ( $count = 1 )
        #foreach( $entry in $error_user )
                #set ( $count2 = 1 )
                #foreach( $type in $error_type )
                        #if( $count == $count2 )
                        <tr bgcolor="WHITE">
                        <td align=center>
                                <font face="$ui.sansSerifFonts">مصارف  کے نام
 <font color="brown">"$entry"</font></font>
                        </td>
                        <td align=center>
                                <font
face="$ui.sansSerifFonts">$type</font>
                        </td>
                        </tr>
                        #end
                        #set ( $count2 = $count2+1 )
                #end
                #set ( $count = $count+1 )
        #end
</table>

<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable,height=200,width=300");
        }
	function checkNull(frm,field){
                if(frm.valueString.value!=""){
                        frm.submit();
                }
                else{
                        alert("The 'Match String' text box can not be NULL");
                }
        }
</SCRIPT>
