#* * @(#)AdminParam.vm
 * Copyright (c) 2005,2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:chitvesh@yahoo.com">Chitvesh Dutta</a>
 * @author <a href="mailto:awadhk_t@yahoo.com">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista Bano</a>
 * modified date: 17-10-2009
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$page.setTitle("Admin Home | Change Parameters")

$page.setBgColor($ui.bgcolor)
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())
<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.menuColor">
	<td colspan="2">
	<font face="$ui.sansSerifFonts" size=3>
	<b>
     	<a href=$link.setPage("Index.vm")>ਏਡਮਨੀ  ਦਾ  ਵਰਕੇ </a> | ਏਡਮਨਿ  ਕੀ  ਰੂਪਰੇਖਾ 
	</td>
</tr>
<form name="frm" method="post" action="$link.setPage("call,AdminProfile,AdminParam.vm").setAction("changeAParam")">
    ##<tr><td bgcolor="#AFDCEC"><font size=4>ਏਡਮਨਿ  ਕੀ  ਰੂਪਰੇਖਾ </font></td></tr>
    <tr><td><font size=4>ਏਡਮਨਿ  ਕੀ  ਰੂਪਰੇਖਾ </font></td></tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("ਪਹਿਲਾ  ਨਾਮ " "AFName" "$!afname")
	<td width="30"> <font face="$ui.sansSerifFonts"> ਪਹਿਲਾ  ਨਾਮ  </font></td> 
	<td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AFName" value="$!afname"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("ਅੰਤਮ  ਨਾਮ " "ALName" "$!alname")	
	<td width="30"> <font face="$ui.sansSerifFonts"> ਅੰਤਮ  ਨਾਮ  </td>   
	<td width="50"> <font face="$ui.sansSerifFonts"><input type="text" size="30" name="ALName" value="$!alname"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("ਵਿਨਿਆਸ  ( ਕਨਫੀਗਰੇਸ਼ਨ  ) ਗਿਣਤੀ  ਸੂਚੀ " "AdminConf" "$!AdminConf")	
	<td width="30"> <font face="$ui.sansSerifFonts">ਵਿਨਿਆਸ  ( ਕਨਫੀਗਰੇਸ਼ਨ  ) ਗਿਣਤੀ  ਸੂਚੀ  </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminConf" value="$!AdminConf"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("ਵਿਸ਼ਾ   ਸਮਾਪਤ  ਕੀਤੀ  ਤੀਥੀ  ( ਦਿਨਾਂ  ਵਿੱਚ  ) " "AdminCrsExp" "$!CrsExp")	
	<td width="30"> <font face="$ui.sansSerifFonts"> ਵਿਸ਼ਾ   ਸਮਾਪਤ  ਕੀਤੀ  ਤੀਥੀ  ( ਦਿਨਾਂ  ਵਿੱਚ  )  </font></td>	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminCrsExp" value="$!CrsExp"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("Mail Server ਨਾਮ " "mailServ" "$!mServer")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang != "english") Mail Server ਦਾ  ਨਾਮ  #else Mail Server ਨਾਮ  #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailServ" value="$!mServer"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang != "english") Mail Server ਦਾ  Port #else Mail Server Port #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailServPort" value="$!mServerPort"> </font></td>
    </tr>

    <tr bgcolor="$ui.menuColor">
      ##formCell("Mail From" "mailFrom" "$!mFrom")	
	<td width="30"> <font face="$ui.sansSerifFonts"> Mail From </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts">  <input type="text" size="30" name="mailFrom" value="$!mFrom"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("Local Domain ਨਾਮ " "mailDomain" "$!dName")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang != "english") Local Domä  ਦਾ  ਨਾਮ  #else  Local Domä  ਨਾਮ  #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailDomain" value="$!dName"> </font> </td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("Mail ਯੂਜਰ   ਨਾਮ " "muName" "$!muname")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang !="english") Mail ਦੇ  ਯੂਜਰ   ਦਾ  ਨਾਮ  #else  Mail ਯੂਜਰ   ਨਾਮ  #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="muName" value="$!muname"> </font> </td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formPasswordCell("Mail ਕੂਟਸ਼ਬਦ " "mPass" "$!mPassword")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang !="english") Mail ਦਾ  ਕੂਟਸ਼ਬਦ  #else Mail ਕੂਟਸ਼ਬਦ  #end</font></td>	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="password" size="30" name="mPass" value="$!mPassword"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
	<td width=30><font face="$ui.sansSerifFonts">ਵਿਸ਼ਾ   ਸ਼ੇਸ਼  ( ਕੋਟਾ  )  (ਵਿੱਚ  ਏਮ  ਬੀ )</td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="cquota" value="$!cquota"></font></td>
</tr>
    <tr bgcolor="$ui.tableColor">
	<td width=30><font face="$ui.sansSerifFonts">ਯੂਜਰ   ਸ਼ੇਸ਼  ( ਕੋਟਾ  )  (ਵਿੱਚ  ਏਮ  ਬੀ )</td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="uquota" value="$!uquota"></font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">

	<td width=30><font face="$ui.sansSerifFonts">ਵਰਕੇ   </td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="hdir" value="$!hdir"></font></td>
</tr>
    <tr bgcolor="$ui.tableColor">
      <td colspan=2 bgcolor="$ui.menuColor">	
	  <input type="hidden" name="actionName">
          <input type="button" name="eventSubmit_doUpdate" value="ਪਰਵੇਸ਼  ਕਰੀਏ " onClick="checkValues(document.frm,this);"/>
	  <input type="reset" name="reset" value="ਫੇਰ  ਪਾਓ " onClick="checkClear(document.frm,this);"/>
	  <input type="hidden" name="count" value="$tdcolor">
      </td>
    </tr>
</form>
</table>

<SCRIPT LANGUAGE="javascript">
function checkValues(frm,field)
{
	if((frm.AFName.value!="") && (frm.ALName.value!="") && (frm.AdminConf.value!=""))
        {
		if(frm.AdminConf.value>=1 && frm.AdminConf.value<=100)
		{
			if(isNumberString(frm.AdminCrsExp.value))
                        {
				if(isNumberString(frm.cquota.value))
                        	{
					if(isNumberString(frm.uquota.value))
		                        {
                		               	frm.actionName.value=field.name;
                                		frm.submit();
                        		}
                        	}
			}
		}	
		else
		{
			alert("List Config. Value should be between 1 to 100");
		}
	}
        else
        {
		alert("None of the fields can be empty !!");
	}
}

function checkClear(frm,field)
{
	frm.AFName.value="";
        frm.ALName.value="";
}
function isNumberString(chString)
{
	if(chString.length==0)
        return false;
        var RefString="0123456789";
        for(count=0;count<chString.length;count++)
        {
        	tempChar=chString.charAt(count);
                	if(RefString.indexOf(tempChar)==-1)
                        {
                                alert("Value should be numeric")
                                return false;
                        }
        }
        return true;
}
</SCRIPT>
