#*
 * @(#)ViewRemote.vm
 * Copyright (c) 2006,2009-2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:manav_cv@yahoo.co.in">Manvendra Baghel</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
*#

$page.setTitle("Home | $course | Course Management | Remote Course |Remote Course View")
#set($lang=$data.getUser().getTemp("lang" ).toString())

<table bgcolor="$ui.menuColor" width=100%>
        <tr>
		<td>
		<b><a href=$link.setPage("call,IndexHome.vm") style=text-decoration:none>Maison</a> | 
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm") style=text-decoration:none>$course</a> |
		<a href=$link.setPage("call,CourseMgmt_User,CourseManagement.vm").addPathInfo("count","1") style=text-decoration:none>Cours  Gestion </a> | 
		<a href=$link.setPage("call,CourseMgmt_User,Configuration.vm").addPathInfo("count","3") style=text-decoration:none>Cours   Configuration</a>| 
 		#if($status==0)
			#if($lang=="hindi") خرڍدے گۓ  #else Regarder  ACHETER À distance Cours  #end
 		#else
      			#if($lang=="hindi") بڍچدے گۓ  #else Regarder VENTE  À distance Cours  #end
 		#end 
        	</b></td>
	</tr>
</table>

<table width=100% bgcolor="$ui.menuColor">
        <tr>
		<td align=left>
 		#if($status==1)
                        <a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").addPathInfo("status","0").addPathInfo("count",$tdcolor) style=text-decoration:none> #if($lang=="hindi") خرڍدے گۓ  #else Regarder  ACHETER À distance Cours  #end </a>
 		#else
                        <h4><a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").addPathInfo("status","1").addPathInfo("count",$tdcolor) style=text-decoration:none> #if($lang=="hindi") بڍچدے گۓ  #else Regarder VENTE  À distance Cours  #end </a></h4>
		#end
                </td>
		<td align=right><img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/RemoteCourses.html","newWin"); style=text-decoration:none>Aide </a></td>
	</tr>
</table>
<p align="center"><font size=3 color="red">$!data.getMessage()</font></p>
<form name=frm method="post" enctype="multipart/form-data" action="$link.setPage("call,CourseMgmt_User,ViewRemote.vm").setAction("RemoteCoursesAction").addPathInfo("updatestartIndex",$startIndex)">

<table width=100% cellpadding=12 cellspacing=0>
	#if($entrystatus !="blank")
 		<tr bgcolor="$ui.tableColor" >
  			<td colspan=6 align=center >
  				<font size=5 >  #if($lang=="hindi")
							<I> <font color=blue>$course</font>
							 Topique de À distance  Cours  Contenu de  
						#else
		     					<I> À distance  Cours  Contenu de   
							<font color=blue>$course</font>pour la Transaction 
						#end
                                        <font color=red > 
					#if($status==0)
                                         	ACHETER
					#else
						VENTE 
					#end
                                        </font></I>
				</font>
  			</td>
			<td align=right colspan=2>
    		        #if( $total_size!=0 )
                        	#if( $endIndex < $total_size )
                                	#if( $endIndex < $userConf )
                                	[$k - $total_size] entrée des entrées totales  $total_size
                                	#elseif($k == $j)
                                	[$k - $total_size] entrée des entrées totales  $total_size
                                	#else
                                	[$k - $endIndex] entrée des entrées totales  $total_size
                                	#end
                        	#else
                                [$k - $total_size] entrée des entrées totales  $total_size
                        	#end
                	#end
        		</td>
 		</tr>

		#set($headings=["","LA TÂCHE ","Cours  ID","InstructeurNom","Institut  I.P Adresse ","Institut  Nom","Échéance  Date"])
		<tr bgcolor="$ui.tableColor">
			#foreach($heading in $headings)
			<td align="center">
			 	<b>$heading</b>
			</td>
			#end
		</tr>
		#foreach($e in $entry)
			 #if($act=="INSERT")
				#if($velocityCount==1)
	  	<tr bgcolor="$ui.tableColor">
				#else
		<tr bgcolor="$ui.buttonBoxColor">
				#end
        		#elseif($serial == $e.getSrNo())
	  	<tr bgcolor="$ui.tableColor">
			#else
		<tr bgcolor="$ui.buttonBoxColor">
        		#end

 	       		<td align="Center">

				<INPUT TYPE="CHECKBOX" NAME="$e.getSrNo()" VALUE ="$e.getSrNo()"  onClick="addDeleteList(this,document.frm);">
			</td>
			<td align="Center">

				#if($status==0)
				<a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").setAction("RemoteCoursesAction").addPathInfo("cid",$e.getRemoteCourseId()).addPathInfo("csell",$e.getCourseSeller()).addPathInfo("cpurch",$e.getCoursePurchaser()).addPathInfo("iip",$e.getInstituteIp()).addPathInfo("inm",$e.getInstituteName()).addPathInfo("sec_key",$e.getSecretKey()).addPathInfo("order","Purchase").addPathInfo("actionName","eventSubmit_doCheckregistration").addPathInfo("updatestartIndex",$startIndex).addPathInfo("serial",$e.getSrNo()).addPathInfo("count",$tdcolor) style=text-decoration:none> 
                			<font face="$ui.sansSerifFonts" size=2>
                			Vérifier-À distance-Enregistrement  
                			</font><br />
				</a><a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").setAction("RemoteCoursesAction").addPathInfo("cid",$e.getRemoteCourseId()).addPathInfo("csell",$e.getCourseSeller()).addPathInfo("cpurch",$e.getCoursePurchaser()).addPathInfo("iip",$e.getInstituteIp()).addPathInfo("inm",$e.getInstituteName()).addPathInfo("sec_key",$e.getSecretKey()).addPathInfo("order","Purchase").addPathInfo("actionName","eventSubmit_doGet").addPathInfo("updatestartIndex",$startIndex).addPathInfo("serial",$e.getSrNo()).addPathInfo("count",$tdcolor) style=text-decoration:none> 
                			<font face="$ui.sansSerifFonts" size=2>
					#if($lang=="hindi")
                			Cours  de  Contenu  Obtenir 
					#else
                			Obtenir  - Cours  - Contenu  
					#end
                			</font>
				</a><br />
                                #else 
				<a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").setAction("RemoteCoursesAction").addPathInfo("cid",$e.getRemoteCourseId()).addPathInfo("csell",$e.getCourseSeller()).addPathInfo("cpurch",$e.getCoursePurchaser()).addPathInfo("iip",$e.getInstituteIp()).addPathInfo("inm",$e.getInstituteName()).addPathInfo("sec_key",$e.getSecretKey()).addPathInfo("order","Sell").addPathInfo("actionName","eventSubmit_doCheckregistration").addPathInfo("updatestartIndex",$startIndex).addPathInfo("serial",$e.getSrNo()).addPathInfo("count",$tdcolor) style=text-decoration:none> 
                			<font face="$ui.sansSerifFonts" size=2>
                			Vérifier-À distance-Enregistrement  
                			</font>
				</a><br />
                                #end
				<a href=$link.setPage("call,CourseMgmt_User,Configuration.vm").addPathInfo("serial",$e.getSrNo()).addPathInfo("updatestartIndex",$startIndex).addPathInfo("count",$tdcolor) style=text-decoration:none> 
                			<font face="$ui.sansSerifFonts" size=2>
                			Cours  Mise à jour  
                			</font>
				</a>
			</td>
			<td align="Center">
					$!e.getRemoteCourseId()
			</td>
			<td align="Center">
				#if($status==0) ##opposite should come
					$!e.getCourseSeller()
				#else
					$!e.getCoursePurchaser()
				#end
			</td>
			<td align="Center">
					$!e.getInstituteIp()
			</td>
			<td align="Center">
					$!e.getInstituteName()
			</td>
			<td align="Center">
				 <script type="text/javascript">
					 var str = "$!e.getExpiryDate()" 
					 document.write(str.replace(/00:00:00.0/,"")) ;
				 </script>
			</td>
		</tr>

      		#end ## foreach ends
      
      		<tr bgcolor="$ui.tableColor" >
     			
			<td colspan=1 align="Center" >
				<INPUT TYPE="button" NAME="eventSubmit_doDelete" VALUE="Effacement" onClick="checkValue(document.frm,this);">
                		<INPUT TYPE="hidden" NAME="status" VALUE="$status">
                		<INPUT TYPE="hidden" NAME="deleteFileNames" VALUE="">
	     			<INPUT TYPE="hidden" NAME="actionName">
				<INPUT TYPE="hidden" name="DB_subject" value="">
				<INPUT TYPE="hidden" name="count" value="$tdcolor">
			</td>
			<td colspan=6 align=center>
		        #if($total_size <= $userConf)
		        <font color="white">D'abord </font> &nbsp;
		        <font color="white">Précédent </font> &nbsp;
 		        <font color="white">Après </font> &nbsp;
		        <font color="white">Dernier</font> &nbsp;

		        #elseif($startIndex == $userConf_string)
 		        <font color="white">D'abord </font> &nbsp;
		        <font color="white">Précédent </font> &nbsp;
 		        <a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").addPathInfo("startIndex",$startIndex).addPathInfo("count",$tdcolor) style=text-decoration:none>Après </a> &nbsp;
		        <a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").addPathInfo("startIndex",$check_last).addPathInfo("count",$tdcolor) style=text-decoration:none>Dernier</a> &nbsp;

		        #elseif($endIndex == $total_size || $endIndex > $total_size)
		        <a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").addPathInfo("startIndex",$check_first).addPathInfo("count",$tdcolor) style=text-decoration:none>D'abord </a> &nbsp;
		        <a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").addPathInfo("startIndex",$check_pre).addPathInfo("count",$tdcolor) style=text-decoration:none>Précédent </a> &nbsp;
  		        <font color="white">Après </font> &nbsp;
		        <font color="white">Dernier</font> &nbsp;

		        #else
 		       <a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").addPathInfo("startIndex",$check_first).addPathInfo("count",$tdcolor) style=text-decoration:none>D'abord </a> &nbsp;
		        <a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").addPathInfo("startIndex",$check_pre).addPathInfo("count",$tdcolor) style=text-decoration:none>Précédent </a> &nbsp;
		        <a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("count",$tdcolor) style=text-decoration:none>Après </a> &nbsp;
		        <a href=$link.setPage("call,CourseMgmt_User,ViewRemote.vm").addPathInfo("startIndex",$check_last).addPathInfo("count",$tdcolor) style=text-decoration:none>Dernier</a> &nbsp;
   			 #end
			</td>

		</tr>
      #else
	<tr><td align="center"><font color="blue" size="3">Aucune entrée dans le Tableau </font></td></tr>
		
      #end  ## if ends
</table>
</form>
<SCRIPT language="JavaScript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400");
        }
</SCRIPT>


<SCRIPT LANGUAGE="javascript">

function checkValue(frm,field)
{
	if(frm.deleteFileNames.value!="")
		{
			
			frm.actionName.value=field.name;
				frm.submit();
		 }
	else
		{
			alert("Please select checkbox for deletion !!");
		}
}

function addDeleteList(field,frm)
	{
        	if(field.checked)
		{
			
	        	frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
	        	frm.DB_subject.value=frm.DB_subject.value+field.value+"@@@@";
	         }
	         else
		     {
		        var rmFile,index,actualString,preString,postString;
		        actualString=frm.deleteFileNames.value;
		        index=actualString.indexOf(field.name+"^",0);
		        preString=actualString.substring(0,index);
		        postString=actualString.substring(index+field.name.length+1);
		        actualString=preString+postString;
		        frm.deleteFileNames.value=actualString;
		     }
	}

	
/SCRIPT>																				    
