#*
 * @(#)ViewCourseList.vm
 *  Copyright (c) 2005 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 *#

$page.setTitle("$brih_reg2 $brih_courses $brih_list")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()

<table bgcolor="$ui.menuColor" width=100%>
<tr><td>
	<font face="$ui.sansSerifFonts" size=3>
	<a href=$link.setPage("BrihaspatiLogin.vm").addPathInfo("lang",$lang)>Login Страница</a> |
	Зарегистрированный Курсы
	</font>
	</td>
</tr>
</table>
<form name="frm" method="Post">
#set($listConf = ["10","20","30","40","50"] )
<table align="left" width="100%" bgcolor="$ui.tableColor">
<tr><td>
	#if($lang == "hindi")
		<b>Значение для включения в списо:к Отборно</b> &nbsp;&nbsp;
	#else
		<b>Отборно Значение для включения в списо:к</b> &nbsp;&nbsp;
	#end
<select name="SearchList" onChange="ShowList(document.frm,this);"/>
<option value=$ListConf_str>$ListConf_str</option>
#foreach($list in $listConf)
	#if($ListConf_str != $list)
		<option value=$list>$list</option>
	#end
#end
</select>     
</td>
<td><b>Поиск Курсы</b>&nbsp;&nbsp;<input type="text" name="SearchKey" value="$!SearchKey" onSelect="ShowList(document.frm,this);"/></td>
</tr>
</table>
#if($status!="empty")
#set($headings = ["Курс Удостоверение личности","Курс Имя","Статус","=Инструктор ÐOA","Инструктор Электронная почта"] )
<table align="left" bgcolor="$ui.menuColor" width=100%>
<tr>
	<td><b>Зарегистрированный Курсы</b></font></td>
</tr>
</table>
<table align="left" width=100% bgcolor="$ui.tableColor">
<tr width=100%>
	#foreach ($heading in $headings)
	<td><b>$heading</b></td>
	#end
</tr>
	#foreach($entry in $allcourse)
	#if($velocityCount%2==0)
	<tr bgcolor="$ui.tableColor">
	#else
	<tr bgcolor="$ui.menuColor">
	#end
		##entryCell($!entry.getGroupName())
		##entryCell($entry.getCourseName())
		<td>$!entry.getGroupName()</td>
		<td>$entry.getCourseName()</td>
		#if ($entry.getActive()=="1")
			<td><font color="Green">Активная </font></td>
		#else
		 	<td><font color="Red">Неактивные</font></td>
		#end
		<td>$!entry.getInstructorName()</td>
		<td><a href=mailto:$!entry.getEmail()>$!entry.getEmail()</a></td>
		##entryCell($!entry.getInstructorName())
		##entryCell("<a href=mailto:$!entry.getEmail()>$!entry.getEmail()</a>")
	</tr>
	#end
	<tr bgcolor="$ui.menuColor">
	<td colspan=5>
        	#if($total_size <= $ListConf)
         	<u><font color="white">Первый</font></u> &nbsp;
         	<u><font color="white">Следующий</font></u> &nbsp;
         	<u><font color="white">Предыдущая</font></u> &nbsp;
         	<u><font color="white">Последний</font></u> &nbsp;
          	#elseif($startIndex== $ListConf_str)
          	<u><font color="white">Первый</font></u> &nbsp;
          	<u><font color="white">Предыдущая</font></u> &nbsp;
          	<a href="$link.setPage("ViewCourseList.vm").addPathInfo("startIndex",$startIndex)">Следующий</a> &nbsp;
          	<a href="$link.setPage("ViewCourseList.vm").addPathInfo("startIndex",$check_last)">Последний</a> &nbsp;
         	#elseif($endIndex == $total_size || $endIndex > $total_size)
         	<a href="$link.setPage("ViewCourseList.vm").addPathInfo("startIndex",$check_first)">Первый</a> &nbsp;
         	<a href="$link.setPage("ViewCourseList.vm").addPathInfo("startIndex",$check_pre)">Предыдущая</a> &nbsp;
         	<u><font color="white">Следующий</font></u> &nbsp;
         	<u><font color="white">Последний</font></u> &nbsp;
          	#else
           	<a href="$link.setPage("ViewCourseList.vm").addPathInfo("startIndex",$check_first)">Первый</a> &nbsp;
           	<a href="$link.setPage("ViewCourseList.vm").addPathInfo("startIndex",$check_pre)">Предыдущая</a> &nbsp;
           	<a href="$link.setPage("ViewCourseList.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex)">Следующий</a> &nbsp;
            	<a href="$link.setPage("ViewCourseList.vm").addPathInfo("startIndex",$check_last)">Последний</a> &nbsp;
		#end


	</td>
	</tr>
</table>
#end
</form>
<SCRIPT LANGUAGE="javascript">
	function ShowList(frm,field)
	{
		frm.submit();
	}
</SCRIPT>
