#*
 * @(#) Backups.vm
 * Copyright(c)2006 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * @author <a href="mailto:mann_singh2004@yahoo.com">Manvendra Singh</a>	
*#

#set($lang = $data.getUser().getTemp("lang" ).toString())

$page.setTitle("Backups")
$page.setBgColor("#ffffff")
$!data.getMessage()

<table bgcolor="$ui.menuColor" width=100% cellspacing=0>
	<tr><td>
		<font face="$ui.sansSerifFonts" size=3>
		<a href=$link.setPage("Index.vm") style=text-decoration:none>Admin's 집</a> | 
		<a href=$link.setPage("call,Backups,Backups.vm").addPathInfo("count","1") style=text-decoration:none>백업</a> |
		#if(($mode=="")&&($actionName==""))
		#if ($lang=="hindi") 과정 의 백업 #else 과정 Wise 백업 #end
		#elseif($mode=="blist") 백업 목록 #end
		#if($actionName == "eventSubmit_doCompleteBackup")
		시스템 백업
		#elseif($actionName == "eventSubmit_doGlossaryBackup")
		용어  백업
		#end
		</font>
	</td></tr>
</table>
<table width=100% bgcolor="$ui.tableColor">
<tr><td>
<table width=100% align=left bgcolor="$ui.tableColor">
<tr>
		#if($tdcolor!="1")
		<td width=25%>
		#elseif($tdcolor=="1")
		<td width=25% bgcolor="#AFDCEC">
		#end
    		<a href=$link.setPage("call,Backups,Backups.vm").addPathInfo("count","1") style=text-decoration:none>백업 내용 </a></td>
		#if($tdcolor!="2")
		<td width=25%>
		#elseif($tdcolor=="2")
		<td width=25% bgcolor="#AFDCEC">
		#end
		<a href=$link.setPage("call,Backups,Backups.vm").setAction("BackupAction").addPathInfo("actionName","eventSubmit_doCompleteBackup").addPathInfo("count","2") style=text-decoration:none>시스템 백업</a></td>
		#if($tdcolor!="3")
		<td width=25%>
		#elseif($tdcolor=="3")
		<td width=25% bgcolor="#AFDCEC">
		#end
    		<a href=$link.setPage("call,Backups,Backups.vm").addPathInfo("mode","blist").addPathInfo("count","3") style=text-decoration:none>백업 목록</a></td>
		#if($tdcolor!="4")
		<td width=25%>
		#elseif($tdcolor=="4")
		<td width=25% bgcolor="#AFDCEC">
		#end
		<a href=$link.setPage("call,Backups,Backups.vm").setAction("BackupAction").addPathInfo("actionName","eventSubmit_doGlossaryBackup").addPathInfo("count","4") style=text-decoration:none>용어  백업</td>
</tr>
##</form>
</table></td></tr>
<tr><td>
<table width=100% align=left bgColor="$ui.tableColor">
#if(($mode=="") && ($mode != "blist"))
<tr>
	<left><blink><font color="red"><b>제발 좀 가져가 지마  에 대한 데이터베이스 백업 "모든"코스 </b></font></blink></left>
<form name=frm method="post" action="$link.setAction("BackupAction").setPage("call,Backups,Backups.vm")">
        <div align="left">
        <table width=100% align=left>

      #if ($errorTemplate)
</tr>
      <tr bgColor="$ui.menuColor">
        <td colspan="4">
          <table width=100%>
            <tr>
              <td>
                <img src="$ui.image($ui.alertImage,$data)">
              </td>
              <td>
                #parse ($errorTemplate)
              </td>
            </tr>
          </table>
        </td>
      </tr>
      #end

                <tr bgColor="$ui.menuColor"><td colspan="3">
                        <font size=4><b>물론 백업을 선택 누구 당신을 데려가고 싶어요</b></font>
                </td></tr>
                <tr><td>
                        <select name="courses">
                                <option value="Courses">모두 코스</option>
                        #foreach($group in $courseList)
				#if($data.getUser().getUserName() == "admin")
                                	#if(($group.Name !="global") && ($group.Name !="author"))
                               		<option value="$group.Name">$group.Name</option>
                                	#end
				#else
                			#if($data.getUser().getTemp("role")=="institute_admin")
                                        <option value="$group.getGroupName()">$group.getGroupName()</option>
					#end
				#end
                        #end
                        </select>
                </td>
                <td>
                        <font face="$ui.sansSerifFonts">
                        <input type="button" name="eventSubmit_doCourseBackup" value="내용   백업" onClick="checkField(document.frm,this);"/>
                        <input type="button" name="eventSubmit_doStudent_db_backup" value="데이터베이스 백업" onClick="checkField(document.frm,this);"/>
                        <input type="hidden" name="actionName">
                        <input type="hidden" name="count" value="$tdcolor">
                        </font>
                </td></tr>

        </table>
</div>
</form>
#end
</table></td></tr>
<tr><td>
#if(($mode == "blist")||($actionName=="eventSubmit_doDeletebackup"))
	<table bgcolor="$ui.tableColor" align="left" width=100%>
        <tr bgcolor="$ui.menuColor"><td colspan="5" align=left>
	#if(!($list=="navil"))
		#if($lang!="english") 사용 가능 백업 की 목록 #else 정가의 사용 가능 백업
		 #end 
		</td></tr>
		<tr>
	        #if($st != "ins")
	        <td>Sr.No.</td>
	        #end
                <td> 
		#if($lang!="english") 
		백업 파일 의 이름 
		#else 
		이름 of 백업 파일 
		#end 
		</td>
		<td>사용 가능한 작업</td>
		</tr>
	        #set ($i=1)
	        	#foreach($lst in $list)
                		#if($st=="ins")
					#if($lst.getName().startsWith($data.getUser().getTemp("course_id" ).toString()))
					<tr>
	                		## <td>$i</td>
                        		<td>$lst.getName()</td>
                        		<td>
					<a href=$link.setPage("call,Backups,getZipfile.vm").addPathInfo("fName",$lst.getName()).addPathInfo("count",$tdcolor) style=text-decoration:none>다운로드</a>
					</td>
                        		</tr>
                			#end
                		#else
				#if($velocityCount%2==0)	
				<tr bgcolor="$ui.tableColor">
				#else
				<tr bgcolor="$ui.menuColor">
				#end
				<td>$i</td>
                		<td>$lst.getName() </td>
       	<td><a href=$link.setPage("call,Backups,getZipfile.vm").addPathInfo("fName",$lst.getName()).addPathInfo("count",$tdcolor) style=text-decoration:none>다운로드</a> &nbsp;&nbsp;
				<a href=$link.setAction("BackupAction").addPathInfo("actionName","eventSubmit_doDeletebackup").addPathInfo("fName",$lst.getName()).addPathInfo("count",$tdcolor) style=text-decoration:none>삭제</a></td>
                </tr>
                		#end
			#set ($i=$i+1)
        		#end
#end
</table>
#end
</td></tr></table>

<SCRIPT LANGUAGE="javascript">
	function checkField(frm,field)
        {
		frm.actionName.value=field.name;
                frm.submit();
        }
</SCRIPT>
