#*
 * @(#) BackupIns.vm
 * Copyright (c) 2006,2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @author <a href="mailto:nksinghiitk@yahoo.co.in">Nagendra Kumar Singh</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @modified date: 12-04-2010
*#

$page.setBgColor($ui.bgcolor)
$page.setTitle("Instructor Backup")
#set($lang = $data.getUser().getTemp("lang" ).toString())
$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100%>
<tr>
        <td><b><a href=$link.setPage("call,IndexHome.vm")>家 </a> |<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$data.getUser().getTemp("course_name" ).toString() </a> |  备份 
        </td>
</tr>
</table>
<form name=frm method="post" action="$link.setAction("BackupAction").setPage("call,Backups,BackupIns.vm")">

<table bgcolor="$ui.tableColor" align=left width=100%>
        
#if ($errorTemplate)
<tr>
	<td colspan="4">
	<table bgcolor="$ui.bgcolor" width=100%>
        <tr><td><img src="$ui.image($ui.alertImage,$data)"></td>
        <td>
	#parse ($errorTemplate)
	</td></tr>
    	</table>
        </td>
</tr>
#end
<tr><td colspan="3">
#if ($lang == "english") 
	<b>课程 Wise 备份 
	#else 
	课程 的 备份</b> 
	#end 
</td></tr>
<tr bgcolor="$ui.menuColor" >
<td><input type="text" name="courses" value="$data.getUser().getTemp("course_id" ).toString()" readonly /></td>
<td align=left>
<input type="button" name="eventSubmit_doCourseBackup" value="内容 #if($lang == "hindi") 的 #end 备份" onClick="checkField(document.frm,this);"/>
<input type="button" name="eventSubmit_doStudent_db_backup" value="数据库 #if($lang == "hindi") 的 #end 备份" onClick="checkField(document.frm,this);"/>
<input type="hidden" name="actionName">
</td>
</tr>
<tr><td align="left" colspan="2"><a href=$link.setPage("call,Backups,BackupList.vm").addPathInfo("st","ins")><b>备份 列表</b></a></td></tr>
	     
</table>
</form>

<SCRIPT LANGUAGE="javascript">
        function checkField(frm,field)
        {
                                frm.actionName.value=field.name;
                                frm.submit();
        }	
</SCRIPT>
