$page.DefaultDoctype
$page.setBgColor("$ui.bgcolor")
$page.setTitle("Generate Timetable")

#set($user = $data.getUser().getName())
#set($lang = $data.getUser().getTemp("lang" ).toString())
#set($department = $data.getSession().getAttribute("department"))

<a href="$content.getURI("/reports/$user/$department/reports/html/batch")"> Batches </a> <br />
<a href="$content.getURI("/reports/$user/$department/reports/html/faculty")"> Faculty </a> <br />
<a href="$content.getURI("/reports/$user/$department/reports/html/room")"> Rooms </a> <br />

#if($valid == "true")
There were no conflicts with the time table. Would you like to save the changes?
<form action="$link.setPage("call,timetable,bfr_html.vm").setAction("GenerateTimeTable")" method="post">
	<input type="hidden" name="eventSlotMap" size="40" value="$eventSlotMap" />
	<input type="hidden" name="tableId" size="40" value="$tableId" />
	<input type="submit" name="eventSubmit_doCommit" value="Send" />
</form>
#elseif($valid == "false")
$msg
#end
#if($commit == "commit")
$msg
#end
