#* * @(#)AdminParam.vm
 * Copyright (c) 2005,2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:chitvesh@yahoo.com">Chitvesh Dutta</a>
 * @author <a href="mailto:awadhk_t@yahoo.com">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista Bano</a>
 * modified date: 17-10-2009
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$page.setTitle("Admin Home | Change Parameters")

$page.setBgColor($ui.bgcolor)
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())
<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.menuColor">
	<td colspan="2">
	<font face="$ui.sansSerifFonts" size=3>
	<b>
     	<a href=$link.setPage("Index.vm")>പരിപലകന്റെ പൂമുഖം</a> | പരിപാലകന്‍െറ പ്രൊഫൈല്‍
	</td>
</tr>
<form name="frm" method="post" action="$link.setPage("call,AdminProfile,AdminParam.vm").setAction("changeAParam")">
    ##<tr><td bgcolor="#AFDCEC"><font size=4>പരിപാലകന്‍െറ പ്രൊഫൈല്‍</font></td></tr>
    <tr><td><font size=4>പരിപാലകന്‍െറ പ്രൊഫൈല്‍</font></td></tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("ആദ്യത്തെ പേര്" "AFName" "$!afname")
	<td width="30"> <font face="$ui.sansSerifFonts"> ആദ്യത്തെ പേര് </font></td> 
	<td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AFName" value="$!afname"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("അവസാന  പേര്" "ALName" "$!alname")	
	<td width="30"> <font face="$ui.sansSerifFonts"> അവസാന  പേര് </td>   
	<td width="50"> <font face="$ui.sansSerifFonts"><input type="text" size="30" name="ALName" value="$!alname"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("കോണ്ഫിഗ് പട്ടികപ്പെടുത്തുക. വില (പട്ടികയുടെ പരിധി1-100)  " "AdminConf" "$!AdminConf")	
	<td width="30"> <font face="$ui.sansSerifFonts">കോണ്ഫിഗ് പട്ടികപ്പെടുത്തുക. വില (പട്ടികയുടെ പരിധി1-100)   </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminConf" value="$!AdminConf"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("പാഠ്യപദ്ധതി ഉപയോഗശൂന്യമാവുന്ന സമയം (ദിവസങ്ങളില്‍)" "AdminCrsExp" "$!CrsExp")	
	<td width="30"> <font face="$ui.sansSerifFonts"> പാഠ്യപദ്ധതി ഉപയോഗശൂന്യമാവുന്ന സമയം (ദിവസങ്ങളില്‍) </font></td>	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminCrsExp" value="$!CrsExp"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("Mail Server പേര്" "mailServ" "$!mServer")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang != "english") മെയില്‍ സെര്‍വര്‍ ന്‍റെ പേര് #else മെയില്‍ സെര്‍വര്‍ പേര് #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailServ" value="$!mServer"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang != "english") മെയില്‍ സെര്‍വര്‍ ന്‍റെ पोर्ट #else മെയില്‍ സെര്‍വര്‍ पोर्ट #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailServPort" value="$!mServerPort"> </font></td>
    </tr>

    <tr bgcolor="$ui.menuColor">
      ##formCell("Mail From" "mailFrom" "$!mFrom")	
	<td width="30"> <font face="$ui.sansSerifFonts"> മെയില്‍ ഫ്രം </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts">  <input type="text" size="30" name="mailFrom" value="$!mFrom"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("പ്രാദേശിക Domain പേര്" "mailDomain" "$!dName")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang != "english") പ്രാദേശിക മണ്ഡലം ന്‍റെ പേര് #else  പ്രാദേശിക മണ്ഡലം പേര് #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailDomain" value="$!dName"> </font> </td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("Mail ഉപയോക്താവ് പേര്" "muName" "$!muname")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang !="english") മെയില്‍ के ഉപയോക്താവ് ന്‍റെ പേര് #else  മെയില്‍ ഉപയോക്താവ് പേര് #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="muName" value="$!muname"> </font> </td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formPasswordCell("Mail രഹസ്യവാക്ക്" "mPass" "$!mPassword")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang !="english") മെയില്‍ ന്‍റെ രഹസ്യവാക്ക് #else മെയില്‍ രഹസ്യവാക്ക് #end</font></td>	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="password" size="30" name="mPass" value="$!mPassword"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
	<td width=30><font face="$ui.sansSerifFonts">പാഠ്യപദ്ധതി ക്വാട്ട (ഇല്‍ എംബി)</td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="cquota" value="$!cquota"></font></td>
</tr>
    <tr bgcolor="$ui.tableColor">
	<td width=30><font face="$ui.sansSerifFonts">ഉപയോക്താവ് ക്വാട്ട (ഇല്‍ എംബി)</td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="uquota" value="$!uquota"></font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">

	<td width=30><font face="$ui.sansSerifFonts">പൂമുഖം ഡയറക്ടറി </td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="hdir" value="$!hdir"></font></td>
</tr>
    <tr bgcolor="$ui.tableColor">
      <td colspan=2 bgcolor="$ui.menuColor">	
	  <input type="hidden" name="actionName">
          <input type="button" name="eventSubmit_doUpdate" value="സമര്‍പ്പിക്കുക" onClick="checkValues(document.frm,this);"/>
	  <input type="reset" name="reset" value="പുനഃക്രമികരിക്കുക" onClick="checkClear(document.frm,this);"/>
	  <input type="hidden" name="count" value="$tdcolor">
      </td>
    </tr>
</form>
</table>

<SCRIPT LANGUAGE="javascript">
function checkValues(frm,field)
{
	if((frm.AFName.value!="") && (frm.ALName.value!="") && (frm.AdminConf.value!=""))
        {
		if(frm.AdminConf.value>=1 && frm.AdminConf.value<=100)
		{
			if(isNumberString(frm.AdminCrsExp.value))
                        {
				if(isNumberString(frm.cquota.value))
                        	{
					if(isNumberString(frm.uquota.value))
		                        {
                		               	frm.actionName.value=field.name;
                                		frm.submit();
                        		}
                        	}
			}
		}	
		else
		{
			alert("List Config. Value should be between 1 to 100");
		}
	}
        else
        {
		alert("None of the fields can be empty !!");
	}
}

function checkClear(frm,field)
{
	frm.AFName.value="";
        frm.ALName.value="";
}
function isNumberString(chString)
{
	if(chString.length==0)
        return false;
        var RefString="0123456789";
        for(count=0;count<chString.length;count++)
        {
        	tempChar=chString.charAt(count);
                	if(RefString.indexOf(tempChar)==-1)
                        {
                                alert("Value should be numeric")
                                return false;
                        }
        }
        return true;
}
</SCRIPT>
