#*
 * @(#) InsertEdit_Short.vm
 * Copyright(c)2004-2006, 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:tarankhan1@yahoo.com">Tarannum Khan</a>
 * @author <a href="mailto:manju_14feb@yahoo.com">Mithelesh Parihar</a>
 * @author <a href="mailto:nksngh_p@yahoo.co.in ">Nagendra Kumar Singh</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @modified date: 09-04-2010
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

#set($lang=$data.getUser().getTemp("lang" ).toString())

$page.setTitle("Enter the Question")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()

<table bgcolor="$ui.menuColor" width=100% cellspacing=0>
<tr>
        <td>
        <b>
	<a href=$link.setPage("call,IndexHome.vm")>पृष्ठ</a> |
        ##<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> | प्रश्न  प्रबंधन
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |

        <a href=$link.setPage("call,Question_Bank,Question_bank.vm").addPathInfo("count","1")>प्रश्न  संग्रह (बैंक )</a> |
	#if($mode=="Insert")
	<a href=$link.setPage("call,Question_Bank,Create_Bank_Repository.vm").addPathInfo("count","2")> #if($lang=="hindi") भंडार का सृजन  करें </a> | प्रश्न  डालें  #else सृजन  करें भंडार </a> | कृप्या  डालें प्रश्न  #end
	#else
	<a href=$link.setPage("call,Question_Bank,RepositoryList.vm").addPathInfo("count","1")>सभी   प्रश्न  संग्रह (बैंक )</a> |
	<a href=$link.setPage("call,Question_Bank,Question_List.vm").addPathInfo("modulename","$modulename").addPathInfo("Ques_Type","$Ques_Type").addPathInfo("count","2")>सभी   Question's in $modulename </a> | #if($lang=="hindi") प्रश्न  #if($mode=="View") अवलोकन  करें  #else संपादन  करें #end  #else #if($mode=="View") अवलोकन  करें  #else संपादन  करें #end प्रश्न  #end
	#end 
        </td>
</tr>
</table>
<table bgcolor="$ui.tableColor" width=100% cellspacing=0>
<tr>
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor=="1")
        <td bgcolor="#AFDCEC">
        #end
    <a href=$link.setPage("call,Question_Bank,Question_bank.vm").addPathInfo("count","1")> #if($lang!="english") नवीन  प्रश्न  संग्रह (बैंक ) का सृजन  करें #else सृजन  करें नवीन  प्रश्न  संग्रह (बैंक ) #end </a></td>
        #if($tdcolor != "2")
        <td>
        #elseif($tdcolor=="2")
        <td bgcolor="#AFDCEC">
        #end
  <a href=$link.setPage("call,Question_Bank,RepositoryList.vm").addPathInfo("count","2")> #if($lang!="english") प्रश्न  संग्रह में समस्त  प्रसंग(टॉपिक) का  अवलोकन करें #else प्रश्न  संग्रह में समस्त  प्रसंग(टॉपिक) का  अवलोकन करें #end </a></td>
        #if($tdcolor != "3")
        <td>
        #elseif($tdcolor=="3")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Question_Bank,UploadQuestions.vm").addPathInfo("count","3")></a> #if($lang!="english")प्रश्न  अपलोड  करें #else अपलोड  करें  प्रश्न  #end</td>
</tr>
</table>
<form name="frm" method="post" action="$link.setAction("Question_Bank")">
<table width="100%" bgcolor="$ui.menuColor" cellpadding="2">  
  <tr>
   <td width=30% align="centre" >
     <b><font face="$ui.sansSerifFonts">प्रश्न </font></b>
   </td>
   <td	width=70% align="left" >
     <font face="$ui.sansSerifFonts">
      <textarea name="Question" rows=3 cols=50 #if($mode=="View") readonly #end>$!question </textarea >
     </td>
 </tr>
  <tr bgcolor="$ui.tableColor"> 
  	<td width=30% align="centre" >
    	<b><font face="$ui.sansSerifFonts"> #if($lang=="hindi") उत्तर #else उत्तर #end </font></b>
   	</td>
   	<td width=70% align="left" >
    	<font face="$ui.sansSerifFonts">
      <textarea name="Answer" rows=3 cols=50 #if($mode=="View") readonly #end>$!ans </textarea >
   	</td>
 </tr> 
  <tr> 
	<td width=30% align="centre" >
        <b><font face="$ui.sansSerifFonts">सांकेतिक</font></b>
        </td>
        <td  width=70% align="left" >
        <font face="$ui.sansSerifFonts">
        <textarea name="hint" rows=3 cols=50 #if($mode=="View") readonly #end >$!hint</textarea >
        </td>
	##formCell("सांकेतिक" "hint" "$!hint")

 </tr> 
<tr bgcolor="$ui.tableColor">
<td align=center colspan=2 >  
<font face ="$ui.sansserifFonts">
	#if($mode=="Insert")
		#if($lang == "hindi")
	  		<input type="button" name="eventSubmit_doSaveQuestion" value="सेव  करें & अतिरिक्त जोड़ें" onClick="checkValue(document.frm,this);"> 
		#else
	  		<input type="button" name="eventSubmit_doSaveQuestion" value="सेव  करें & जोड़ें अतिरिक्त" onClick="checkValue(document.frm,this);"> 	
		#end
  		<input type="button" name="eventSubmit_doFinishQuestion" value="सेव  करें & समाप्त करें" onClick="checkValue(document.frm,this);"> 
		<input type="reset" value="पुनः  डालें"> 
	#elseif($mode=="View")
	#else
		<input type="button" name="eventSubmit_doEditQuestion" value="संपादन  करें" onClick="checkValue(document.frm,this);">
  		<input type="hidden" name="qid" value=$qid>
  		<input type="reset" value="पुनः  डालें"> 
	#end
  <input type="hidden" name="modulename" value=$modulename> 
  <input type="hidden" name="actionName" value="">
  <input type="hidden" name="mode" value=$mode>
  <input type="hidden" name="FromPath" value=$FromPath>
  <input type="hidden" name="Ques_Type" value="Short">
  <input type="hidden" name="count" value="$tdcolor">
</font>
</td>
</tr>
</table>
</form>
<script LANGUAGE="JAVASCRIPT">
        function checkValue(frm,field)
        {
                if(frm.Question.value!="")
                {
			if(frm.Answer.value!="") 
			{
                        	frm.actionName.value=field.name;
                        	frm.submit();
			}
			else
			{
                        	alert("Please write the answer !!");
                        	frm.Answer.focus();
			}
                }
                else
                {
                        alert("Please write Question !!");
                        frm.Question.focus();
                }
        }
</script>
