#*
 * @(#) Question_List.vm
 * Copyright(c)2004-2006 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:tarankhan1@yahoo.com">Tarannum Khan</a>
 * @author <a href="mailto:manju_14feb@yahoo.com">Mithelesh Parihar</a>
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in ">Awadhesh Kumar Trivedi</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Edit Test Information")
$page.setBgColor("$ui.bgcolor")
#set($lang=$data.getUser().getTemp("lang" ).toString())
$!data.getMessage()

<table bgcolor="$ui.tableColor" width=100% cellspacing=0>
<tr bgcolor="$ui.menuColor">
        <td colspan=3>
        <b>
	<a href=$link.setPage("call,IndexHome.vm")>पृष्ठ</a> |
        ##<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> | प्रश्न  प्रबंधन
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
	<a href=$link.setPage("call,Question_Bank,Question_bank.vm").addPathInfo("count","1")>प्रश्न  संग्रह (बैंक )</a> | 
	<a href=$link.setPage("call,Question_Bank,RepositoryList.vm").addPathInfo("count","2")>सभी   प्रश्न  संग्रह (बैंक )</a> | #if($lang=="hindi") प्रश्न  सूची #else सूची प्रश्न  #end
        </td>
</tr>
<tr>
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,Question_Bank,Question_bank.vm").addPathInfo("count","1")> #if ($lang!="english") प्रश्न  संग्रह (बैंक ) भंडार का सृजन  करें #else सृजन  करें प्रश्न  संग्रह (बैंक ) भंडार #end </a></td>
        #if($tdcolor != "2")
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,Question_Bank,RepositoryList.vm").addPathInfo("count","2")> #if($lang!="english") प्रश्न  संग्रह में समस्त  प्रसंग(टॉपिक) का  अवलोकन करें #else प्रश्न  संग्रह में समस्त  प्रसंग(टॉपिक) का  अवलोकन करें #end </a></td>
        #if($tdcolor != "3")
        <td>
        #elseif($tdcolor == "3")
        <td bgcolor="#AFDCEC">
        #end
	<a href=$link.setPage("call,Question_Bank,UploadQuestions.vm").addPathInfo("count","3")></a> #if($lang!="english")प्रश्न  अपलोड  करें  #else अपलोड  करें  प्रश्न  #end</td>
</tr>

</table>
<form name="frm" method="post" action="$link.setPage("call,Question_Bank,Question_List.vm").setAction("Question_Bank")">
#if($status=="NoBlank")
<table align="center">
<tr>
<td bgcolor="$ui.menuColor">
	#if($lang=="hindi")
	<font size=4><b><font color="magenta">$Ques_Type</font> प्रश्न  सूची</b></font>
	#else
	<font size=4><b>सूची में <font color="magenta">$Ques_Type</font> प्रश्न </b></font>
	#end
</td>
</tr>
<tr>
<td>
       <table cellspacing="1" cellpadding="1" bgcolor="$ui.tableColor">
  	#set($count = 1)  
        #foreach ($title in $questions)  
		#set($count1 = 1)
		#foreach($ids in $id)
		 	#if($count == $count1)
         			<tr>
				<td width="3%" align="center"><input type="checkbox" name="$ids" onClick="addDeleteList(this,document.frm);">
				</td>
             			<td width="12%">प्रश्न  $count</td>
				<td><a href="$link.setPage("call,Question_Bank,InsertEdit_${Ques_Type}.vm").addPathInfo("modulename",$modulename).addPathInfo("qid",$ids).addPathInfo("Ques_Type",$Ques_Type).addPathInfo("mode","View")">$title</a></td>
				#set($temp="InsertEdit_${Ques_Type}.vm") 
            			<td> <a href="$link.setPage("call,Question_Bank,InsertEdit_${Ques_Type}.vm").addPathInfo("modulename",$modulename).addPathInfo("qid",$ids).addPathInfo("Ques_Type",$Ques_Type).addPathInfo("mode","Edit")">संपादन  करें </a>&nbsp</td>
        			</tr>
			#end
		#set ($count1= $count1 + 1)
		#end
	#set ($count = $count + 1)
	#end
	<tr>
	<td bgcolor="$ui.menuColor">
		<input type="button" name="eventSubmit_doQuesDelete" Value=हटायें    onClick="checkField(document.frm,this);">
		<input type="hidden" name="actionName">
		<input type="hidden" name="deleteQuestionsId">
		<input type="hidden" name="modulename" value="$modulename">
		<input type="hidden" name="Ques_Type" value="$Ques_Type">
		<input type="hidden" name="qid" value="$qids">
	</td>
	<td align="center" colspan=3 bgcolor="$ui.menuColor"> 
	<a href="$link.setPage("call,Question_Bank,InsertEdit_${Ques_Type}.vm").addPathInfo("modulename",$modulename).addPathInfo("Ques_Type",$Ques_Type).addPathInfo("mode","Insert").addPathInfo("FromPath","QuesList")"> #if($lang=="hindi") नवीन  $Ques_Type प्रश्न  जोड़ें #else जोड़ें नवीन  $Ques_Type Question's #end </a>&nbsp
	</td>
	</tr>
      </table>
   </td>        
 </tr>
</table>
#end
</form>

<script LANGUAGE="JAVASCRIPT">
function addDeleteList(field,frm)
{
        if(field.checked){
                frm.deleteQuestionsId.value=frm.deleteQuestionsId.value+field.name+"^";
        }
        else{
                var rmFile,index,actualString,preString,postString;
                actualString=frm.deleteQuestionsId.value;
                index=actualString.indexOf(field.name+"^",0);
                       preString=actualString.substring(0,index);
                       postString=actualString.substring(index+field.name.length+1);
                       actualString=preString+postString;
                       frm.deleteQuestionsId.value=actualString;
       	 }
}
function checkField(frm,field)
   {
    if(frm.deleteQuestionsId.value!="")
    {
     frm.actionName.value=field.name;
     frm.submit();
    }
    else
     alert("Please select checkbox for deletion !!");
   }
</script>
