#*
 * @(#) InstituteList.vm 
 * Copyright (c) 2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author <a href="mailto:sharad23nov@yahoo.com">Sharad Singh</a> 
 * Contributors: Members of ETRG, I.I.T. Kanpur
 * @Developed 27-07-2009
*#


$page.setTitle("Admin Home | View Institute List")

$page.setBgColor($ui.bgcolor)

$!data.getMessage()

<table  bgcolor="$ui.menuColor" width=100%>
<tr> <td>
 <b><a href=$link.setPage("Index.vm")>అడిమిన్స్ హైమ్</a> |
 
##<a href=$link.setPage("call,Root_Admin,InstituteList.vm")> ఇన్స్టాట్యూట్ లిస్ట్</a> 
RemoteInstitute లిస్ట్ 
</td></tr>
</table>
<body>
<form name="frm" method="Post" action="$link.setPage("call,Root_Admin,InstituteList.vm").setAction("Institute_RootAdmin")">
<table align="left" width=100% bgcolor="$ui.tableColor">
<tr>
<td align=left>
##<img src="$content.getURI("/images/hand.gif")"><font face="$ui.sansSerifFonts" size=3><a href=javascript:popupWin("/brihaspati2/docs/RootAdmin.html","newWin");>సహాయము</a></font>
</tr>
</table>
<table bgcolor="$ui.tableColor" cellpadding="5" align=left width=100%>

      <tr bgcolor="$ui.menuColor">
                <td align=center>
                        <b> ఎంచు </b>
                </td>
                <td align=center>
                        <b> ఇన్స్టాట్యూట్ పేరు</b>
                </td>
		<td align=center>
			<b>ఇన్స్టాట్యూట్ అడ్రస్  </b>
		</td>
		<td>
			 
			<b>City</b>
		</td>
		<td align=center>
			<b>State </b>
		</td>
                <td align=center>
                        <b> Landline No. </b>
                </td>
                <td align=center>
                        <b> ఇన్స్టాట్యూట్ డొమెయిన్ </b>
                </td>
                <td align=center>
			<b>Type Of Institute </b>
                </td>
                <td align=center>
                        <b>ఇన్స్టాట్యూట్ Website </b>
                </td>
                <td align=center>
                        <b>అడిమిన్స్ తొలి పేరు </b>
                </td>
		<td align=center>
                        <b>అడిమిన్స్ ల్స్ట్ పేరు </b>
                </td>

                <td align=center>
                        <b>అడిమిన్స్ ఇమేల్ </b>
                </td>

                <td align=center>
                        <b>అడిమిన్స్ Designation </b>
                </td>

                <td align=center>
                        <b>యూసర్ పేరు </b>
                </td>
        </tr>

	#foreach($details in $idetail)
	<tr>
		<td align="center">
                	<INPUT TYPE="CHECKBOX" NAME="$details.getInstituteId()" onClick="apprv_rej(this,document.frm);">
          	</td>
		<td>
			$details.getInstituteName()
		</td>
		<td>
			$details.getInstiuteAddress() 
		</td>
		<td>		
			$details.getCity()
		</td>
		<td>
			$details.getState()
		</td>
		<td>
			$details.getLandlineNo()			
		</td>
		<td>
			$details.getInstituteDomain()
		</td>
		<td>
			$details.getTypeOfInstitution()
		</td>
		<td>
			$details.getInstituteWebsite()
		</td>
		<td>
			$details.getAdminFname()
		</td>
		<td>
			$details.getAdminLname()
		</td>
		<td>
			$details.getAdminEmail()
		</td>
		<td>
			$details.getAdminDesignation()
		</td>
			<td>
			$details.getAdminUname()
		</td>

	<tr>
	#end
	##$idetail.get(0).getInstituteId()
	
        <tr bgcolor="$ui.menuColor">
                <td align="left" colspan=14>
                <input type="hidden" name="actionName">
                <input type="button" name="eventSubmit_AcceptAdmin" value="యఆక్సెప్ట్" onClick="AcceptField(document.frm,this);">
                <input type="button" name="eventSubmit_RejectAdmin" value="రిజెక్ట్" onClick="AcceptField(document.frm,this);">
                <input type="hidden" name="deleteFileNames" value="">
		<input type="hidden" name="role" value="7">
                <input type="hidden" name="institute_id" value="$idetail.get(0).getInstituteId()">
                </td>
        </tr> 

</td>
</tr>

</table>


</form>
</body>

<SCRIPT LANGUAGE="javascript">

        function AcceptField(frm,field)
        {
		if(frm.deleteFileNames.value != "")
		{
			frm.actionName.value=field.name;
        	        frm.submit();
		}
		else
		{
			alert("Please select the check box");	
			return;	
		}
	}
 
        function apprv_rej(field,frm)
        {
		if(field.checked)
        	{
                	frm.deleteFileNames.value=frm.deleteFileNames.value+field.name+"^";
		}                
        	else
		{
                      	var rmFile,index,actualString,preString,postString;
	        	actualString=frm.deleteFileNames.value;
        	        index=actualString.indexOf(field.name+"^",0);
                	preString=actualString.substring(0,index);
                        postString=actualString.substring(index+field.name.length+1);
	                actualString=preString+postString;
        	        frm.deleteFileNames.value=actualString;
		}                
        }


</SCRIPT>

