
#*
 * @(#) UserPhoto_Upload.vm
 * Copyright (c) 2005 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:nksngh_p@yahoo.co.in">Nagendra Kumar Singh</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setBgColor($ui.bgcolor)
$page.setTitle("Admin Home | User Management | Upload Multiple Users Photo")
$!data.getMessage()

#set($lang = $data.getUser().getTemp("lang").toString())

<br>
##<table bgcolor="#d9e3ec" width=100% cellspacing=0>

<table bgcolor="$ui.tableColor" width=100% cellspacing=0>
<tr>
        <td>
        <font face="$ui.sansSerifFonts" size=3>
        <b>
      <a href=$link.setPage("call,Admin.vm")>Admin's 집</a> |
      <a href=$link.setPage("call,UserMgmt_Admin,UserManagement_Admin.vm")>사용자 관리</a> | 여러 장의 사진을 업로드

        </td>

	</b>
</tr>
</table>

<table width=100%>
<tr>
<td align=right>
        <img src="$content.getURI("/images/hand.gif")"> <a href=javascript:popupWin("/brihaspati/docs/PhotoUpload.html","newWin");>도움</a>
</td>
</tr>
</table>
<marquee scrollamount="3" direction="left" loop="0" width="100%" behaviour="slide">
        <font size=4 color=red><b>업로드하는 파일 '이 있어야합니다. 우편'확장 & 적절한 ziped!</b></font>
        </marquee>
##<font color=red>업로드하는 파일 '이 있어야합니다. 우편'확장 & 적절한 ziped!</font>

<form name="frm" method="post" enctype="multipart/form-data" action="$link.setPage("call,UserMgmt_Admin,UserPhoto_Upload.vm").setAction("UserAction_Admin")">
<div align="left">
<br>
<br>
<table width=50% bgcolor="$ui.tableColor" cellpadding="2" align="center" border=1>
      	<tr>
	<td colspan=2 bgcolor="$ui.menuColor" align="center">
		## <font size=4><b>File Upload for automatic multiple user Photo</b></font>
		<font size=4><b>파일 업로드 자동으로 여러 사용자에 대한 사진</b></font>
	</td>
	</tr>
	<tr>

        	#fileUpload ("첨부합니다  파일  <font color=RED>*</font>" "file")

   	</tr>
      	<tr>
        <td colspan=2 align="center" bgcolor="$ui.buttonBoxColor">
          	<font face="$ui.sansSerifFonts">
          	<input type="button" name="eventSubmit_doUploadphoto" value="업로드" onClick="CheckFields(document.frm,this);"/>
          	<input type="hidden" name="actionName" value=""/>
    
          	</font>
        </td>
      	</tr>
</table>
<br>
<br>
<table width=60% border=1 bgcolor="$ui.tableColor" align=center>
#foreach( $e in $Msg )
        <tr bgcolor="$ui.tableColor">
        <td align=center>
        <font face="$ui.sansSerifFonts">Entry <font color="brown">"$e.getErr_User()"</font>
        </font>
        </td>
        <td align=center>
        <font face="$ui.sansSerifFonts">$e.getErr_Type()</font>
        </td>
        </tr>
#end
</table>
  </div>
</form>
<SCRIPT LANGUAGE="javascript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400");
        }

        function CheckFields(frm,field)
        {
                if(frm.file.value!="")
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        alert("Please Fill All The Mandatory(*) Fields");
                }
        }
</SCRIPT>
