$page.DefaultDoctype
$page.setBgColor("$ui.bgcolor")
$page.setTitle("Generate Timetable")


<a href="$content.getURI("/reports/html/batch")"> Batches </a> <br />
<a href="$content.getURI("/reports/html/faculty")"> Faculty </a> <br />
<a href="$content.getURI("/reports/html/room")"> Rooms </a> <br />

#if($valid == "true")
There were no conflicts with the time table. Would you like to save the changes?
<form action="$link.setPage("call,timetable,bfr_html.vm").setAction("GenerateTimeTable")" method="post">
	<input type="hidden" name="eventSlotMap" size="40" value="$eventSlotMap" />
	<input type="submit" name="eventSubmit_doCommit" value="Send" />
</form>
#elseif($valid == "false")
$msg
#end
#if($commit == "commit")
$msg
#end
