$page.DefaultDoctype
$page.setBgColor("$ui.bgcolor")
$page.setTitle("Select Department")

#set($lang = $data.getUser().getTemp("lang").toString())
#set($department = $data.getSession().getAttribute("department"))

#if(!department)
Please select your department:
<br/><br/>
<form action="$link.setPage("call,timetable,Generate.vm").setAction("TimetableAction")" method="post">
	<select name="department">
		<option value="ECE">Electronics & Communication</option>
		<option value="CSE">Computer Science</option>
	</select>
	<input type="hidden" name="actionName" value="eventSubmit_doSetdepartment"> 
	<input type="submit" name="eventSubmit_doPerform" value=Submit>
</form>
<br/>
#else
#set($Brihaspatilanguage = $data.getUser().getTemp("lang" ).toString()) 
#parse("screens/$Brihaspatilanguage/timetable/Generate.vm") 
#end


