#*
 * @(#) Insert_Multiple.vm
 * Copyright(c)2004-2006,2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:tarankhan1@yahoo.com">Tarannum Khan</a>
 * @author <a href="mailto:manju_14feb@yahoo.com">Mithelesh Parihar</a>
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in ">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @modified date: 12-04-2010
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Enter the Question")
$page.setBgColor($ui.bgcolor)
#set($lang=$data.getUser().getTemp("lang" ).toString())

$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100%>
<tr>
        <td>
	<a href=$link.setPage("call,IndexHome.vm")>హైమ్</a> |
        ##<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> | ప్ర్శ్నా మానేజ్మెంట్
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |

        <a href=$link.setPage("call,Question_Bank,Question_bank.vm").addPathInfo("count","1")>ప్ర్శ్నా బాంక్</a> |
	#if($mode=="Insert")
	<a href=$link.setPage("call,Question_Bank,Create_Bank_Repository.vm")> #if($lang=="hindi")రిపోజిటర్ ఆఫ్ నిర్మించు </a> | అనేక ప్ర్శ్నా डालें #else నిర్మించు రిపోజిటర్ </a> | ఇన్సరట్ అనేక ప్ర్శ్నా #end
	#else
	<a href=$link.setPage("call,Question_Bank,RepositoryList.vm")>అంతయు ప్ర్శ్నా బాంక్</a> |
	<a href=$link.setPage("call,Question_Bank,Question_List.vm").addPathInfo("modulename","$modulename").addPathInfo("Ques_Type","$Ques_Type")>అంతయు ప్ర్శ్నలలో $modulename </a> | #if($lang=="hindi")అనేక ప్ర్శ్నా #if($mode=="View") చూడు #else కూరుచు #end  #else #if($mode=="View") చూడు #else కూరుచు #end అనేక ప్ర్శ్నా #end
	#end 
        </td>
</tr>
</table>
<table bgcolor="$ui.tableColor" width=100%>
<tr>
        #if($tdcolor != "1")
        <td>
        #elseif($tdcolor=="1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Question_Bank,Question_bank.vm").addPathInfo("count","1")> #if($lang!="english") క్రోత్త ప్ర్శ్నా బాంక్ ఆఫ్ నిర్మించు #else నిర్మించు క్రోత్త ప్ర్శ్నా బాంక్ #end </a></td>
        #if($tdcolor != "2")
        <td>
        #elseif($tdcolor=="2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Question_Bank,RepositoryList.vm").addPathInfo("count","2")> #if($lang!="english") ప్ర్శ్నా బాంక్లలో అన్ని సంగతులను చూపుము #else ప్ర్శ్నా బాంక్లలో అన్ని సంగతులను చూపుము #end </a></td>
        #if($tdcolor != "3")
        <td>
        #elseif($tdcolor=="3")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,Question_Bank,UploadQuestions.vm").addPathInfo("count","3")></a> #if($lang!="english")ప్ర్శ్నా అప్లోడ్#else అప్లోడ్ ప్ర్శ్నా #end
</td>
</tr>
</table>
<form name="frm" method="post" action="$link.setAction("Question_Bank")">
<table width="100%" bgcolor="$ui.menuColor" cellpadding="2">  
  <tr>
   <td width=30% align="centre">
     <b><font face="$ui.sansSerifFonts">ప్ర్శ్నా</font></b>
   </td>
   <td	width=70% align="left">
     <font face="$ui.sansSerifFonts">
      <textarea name="Question" rows=3 cols=50 #if($mode=="View") readonly #end >$!question</textarea >
     </td>
 </tr>
  <tr bgcolor="$ui.tableColor"> 
	#formCell("ఎంపిక ఏ" "op1" "$!op1")
 </tr> 
  <tr> 
	#formCell("ఎంపిక బి" "op2" "$!op2")
 </tr> 
  <tr bgcolor="$ui.tableColor"> 
	#formCell("ఎంపిక సి" "op3" "$!op3")
 </tr> 
  <tr> 
	#formCell("ఎంపిక డి" "op4" "$!op4")
 </tr> 
  <tr bgcolor="$ui.tableColor"> 
	#formCell("ఎంపిక ఇ" "op5" "$!op5")
 </tr> 
  <tr> 
	#formCell("ఎంపిక ఎఫ్" "op6" "$!op6")
 </tr> 
  <tr bgcolor="$ui.tableColor"> 
  	<td width=30% align="centre"> 
    	<b><font face="$ui.sansSerifFonts"> #if($lang=="hindi") ప్రతివచనము #else జవాబు #end</font></b>
   	</td>
   	<td width=70% align="left">
    	<font face="$ui.sansSerifFonts">
      	<select name="Answer" size=1>
	 <option value=$!ans>$!ans
         <option value="A">ఏ</option>
         <option value="B">బి</option>
         <option value="C">సి</option>
         <option value="D">డి</option>
         <option value="E">ఇ</option>
         <option value="F">ఎఫ్</option>  
      	</select> 
   	</td>
 </tr> 
  <tr> 
	<td width=30% align="centre">
        <b><font face="$ui.sansSerifFonts">హింట్</font></b>
        </td>
        <td  width=70% align="left">
        <font face="$ui.sansSerifFonts">
        <textarea name="hint" rows=3 cols=50 #if($mode=="View") readonly #end >$!hint</textarea >
        </td>
	##formCell("హింట్" "hint" "$!hint")

 </tr> 
<tr bgcolor="$ui.tableColor">
<td align=center colspan=2>  
<font face ="$ui.sansserifFonts">
	#if($mode=="Insert")
		<input type="reset" value="రిసెట్"> 
  		<input type="button" name="eventSubmit_doSaveQuestion" value="సేవ్ & కలపు ఎక్కువ" onClick="checkValue(document.frm,this);"> 
  		<input type="button" name="eventSubmit_doFinishQuestion" value="సేవ్ & సమాప్తి" onClick="checkValue(document.frm,this);"> 
	#elseif($mode=="View")
	#else
  		<input type="reset" value="రిసెట్"> 
		<input type="button" name="eventSubmit_doEditQuestion" value="కూరుచు" onClick="checkValue(document.frm,this);">
  		<input type="hidden" name="qid" value=$qid>
	#end
  <input type="hidden" name="modulename" value=$modulename> 
  <input type="hidden" name="actionName" value="">
  <input type="hidden" name="mode" value=$mode>
  <input type="hidden" name="FromPath" value=$FromPath>
  <input type="hidden" name="Ques_Type" value="Multiple">
  <input type="hidden" name="count" value="$tdcolor">
</font>
</td>
</tr>
</table>
</form>

<script LANGUAGE="JAVASCRIPT">
        function checkValue(frm,field)
        {
                if(frm.Question.value!="")
                {
			if((frm.op1.value!="") && (frm.op2.value!="") && (frm.op3.value!="") && (frm.op4.value!=""))
			{
                        	frm.actionName.value=field.name;
                        	frm.submit();
			}
			else
			{
                        	alert("Please write minimum four answer !!");
                        	frm.op1.focus();
			}
                }
                else
                {
                        alert("Please write Question !!");
                        frm.Question.focus();
                }
        }
</script>
