#*
 * @(#) Question_bank.vm
 * Copyright(c)2004-2006, 2009, 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:tarankhan1@yahoo.com">Tarannum Khan</a>
 * @author <a href="mailto:manju_14feb@yahoo.com">Mithelesh Parihar</a>
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a> 
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista</a>
 * @modified date: 09-04-2010
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
 
$page.setTitle("Login | Index | Question Bank")
$page.setBgColor("$ui.TableColor")
#set($lang=$data.getUser().getTemp("lang" ).toString())

$!data.getMessage()
<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.menuColor"><td colspan=3>
        <b>
        <a href=$link.setPage("call,IndexHome.vm")>హైమ్</a> |
        ##<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> | ప్ర్శ్నా మానేజ్మెంట్
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> | 
	<a href=$link.setPage("call,Question_Bank,Question_bank.vm").addPathInfo("count","1")>ప్ర్శ్నా బాంక్</a> | #if($lang=="hindi")రిపోజిటర్ ఆఫ్ నిర్మించు #else నిర్మించు రిపోజిటర్ #end

	</b>
</td></tr>
##</table>
#*<table bgcolor="$ui.tableColor" width=100% align=center>
<tr>
<td align=center>
<marquee scrollamount="3" direction="left" loop="0" width="100%" behaviour="slide">
	#if($lang!="english")
	<font size=4><b>ప్ర్శ్నా బాంక్ రిపోజిటర్  లైనికి #UNAME() స౯వాగతం</b></font>
	#else
        <font size=4><b>ప్ర్శ్నా ఼ాంక్ రిపోజిటర్కు స్వాగతం</b></font>
	#end
        </marquee>
</td>
</tr>
</table>
*#
##<table width="100%" align="left" bgcolor="$ui.tableColor">
<tr>
	#if($tdcolor != "1")
	<td>
	#elseif($tdcolor == "1")
	<td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,Question_Bank,Question_bank.vm").addPathInfo("count","1")> #if ($lang =="hindi") ప్ర్శ్నా బాంక్ चे రిపోజిటర్ ఆఫ్ నిర్మించు #else నిర్మించు ప్ర్శ్నా బాంక్ రిపోజిటర్ #end </a></td>
	#if($tdcolor != "2")
	<td>
	#elseif($tdcolor == "2")
	<td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,Question_Bank,RepositoryList.vm").addPathInfo("count","2")> #if($lang!="english") ప్ర్శ్నా బాంక్లలో అన్ని సంగతులను చూపుము #else ప్ర్శ్నా బాంక్లలో అన్ని సంగతులను చూపుము #end </a></td>
	#if($tdcolor != "3")
	<td>
	#elseif($tdcolor == "3")
	<td bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,Question_Bank,UploadQuestions.vm").addPathInfo("count","3")></a> #if($lang!="english")ప్ర్శ్నా అప్లోడ్ #else అప్లోడ్ ప్ర్శ్నా #end</td>
</tr>
##</table>

##Code for Create_Bank_Repository
##<form name=uploadform method="post" enctype="multipart/form-data" action="$link.setPage("call,Question_Bank,Create_Bank_Repository.vm").setAction("Question_Bank")">
<form name=uploadform method="post" enctype="multipart/form-data" action="$link.setPage("call,Question_Bank,Question_bank.vm").setAction("Question_Bank")">
<table align="left" bgcolor="$ui.tableColor" width=100%>
        #*<tr bgcolor="$ui.menuColor">
        ##<td colspan=2 align="center"> <b><a href=$link.setPage("call,Question_Bank,RepositoryList.vm")>View All Questions Bank</a></td>
	<td align="left" colspan=2><a href=$link.setPage("call,Question_Bank,RepositoryList.vm")>
        #if($lang == "hindi")
		అంతయుప్ర్శ్నా బాంక్ ఆఫ్ చూడు</a></td>
        #else
		అన్ని చూడు ప్ర్శ్నా బాంక్</a></td>
        #end
           ##<td align="left" colspan=2><a href=$link.setPage("call,Question_Bank,RepositoryList.vm")>
        </tr>*#
        <tr bgcolor="$ui.menuColor">
        	<td colspan=3>
        	<input type="RADIO" name=topicExisting checked=true value="OLDTOPIC" onClick=blurTopicName(document.uploadform)>ఉండుట విషయము
        	<SELECT name="topicList" onFocus="changeTopic(document.uploadform)" onChange="changeTopic(document.uploadform)">
        	<option></option>
        	#foreach($topic in $allTopics)
        		<option>$topic</option>
        	#end
        	</SELECT>
        	<input type="RADIO" name=topicExisting value="NEWTOPIC" >క్రోత్త విషయము
        	</td>
	</tr>
        <tr>
		<td>విషయము #if($lang=="hindi") ఆఫ్ #end పేరు &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" name="contentTopic" onFocus=checkRadio() size=26></td>
	</tr>
        <tr bgcolor="$ui.menuColor">
          <td colspan=3>
      <input type="button" name="eventSubmit_doSubmit" value="సమర్పించు" onClick="validate(document.uploadform,this);"/>
          <input type="hidden" name="actionName" value="">
          <input type="reset" value="రిసెట్">
          <input type="hidden" name="count" value="$tdcolor">

        </td>
      </tr>
    </table>
        #if($M_Create=="Module_create")
        <table width="100%" align="left" bgcolor="$ui.tableColor">
        <tr><td>
		<b><a href=$link.setPage("call,Question_Bank,InsertEdit_Multiple.vm").addPathInfo("modulename",$mName).addPathInfo("mode","Insert")>అనేక టైప్</a>
	</td></tr>
        <tr bgcolor="$ui.menuColor" ><td>
        	<b><a href=$link.setPage("call,Question_Bank,InsertEdit_TF.vm").addPathInfo("modulename",$mName).addPathInfo("mode","Insert")>నిజం / తప్పు టైప్</a>
	</td></tr>
        <tr><td>
		<b><a href=$link.setPage("call,Question_Bank,InsertEdit_Short.vm").addPathInfo("modulename",$mName).addPathInfo("mode","Insert")>చిన్న టైప్</a>
	</td></tr>
	#* <tr><td>
		<b><a href=$link.setPage("call,Question_Bank,InsertEdit_Short.vm").addPathInfo("modulename",$mName).addPathInfo("mode","Insert")>చిన్న టైప్</a>
	</td></tr>
*#
	<tr bgcolor="$ui.menuColor" ><td>
                <b><a href=$link.setPage("call,Question_Bank,Insert_Match.vm").addPathInfo("rName",$rName).addPathInfo("mName",$mName).addPathInfo("file",$fName)></a>మాచ్ టైప్
        </td></tr>
#*      <tr><td>
                <b><a href=$link.setPage("call,Question_Bank,UploadQuestions.vm").addPathInfo("rName",$rName).addPathInfo("mName",$mName)>Вопросы о Upload </a>
        </td></tr>  *#
</table>
#end
</form>
<script LANGUAGE="JAVASCRIPT">
        function checkValue(frm,field)
        {
                //if((frm.contentTopic.value!="") && (frm.MName.value!="") && (frm.FName.value!=""))
                if(frm.contentTopic.value!="")
                {
                        frm.actionName.value=field.name;
                        frm.submit();

                }
                else
                {
                        alert("Please insert the value");
                }
        }
        function blurTopicName(frm)
        {
                //document.uploadform.topicExisting.value="OLDTOPIC";
                frm.contentTopic.value=frm.topicList.options[frm.topicList.selectedIndex].text;
        }

        function changeTopic(frm)
        {
                if(frm.topicExisting[0].checked)
                {
                        frm.contentTopic.value=frm.topicList.options[frm.topicList.selectedIndex].text;
                }
                else
                {
                        frm.contentTopic.focus();
                }
        }
	 function checkRadio()
        {
                if(document.uploadform.topicExisting[0].checked)
                {
                        document.uploadform.contentTopic.blur();
                }

        }
	function validate(uploadform,field)
        {
                var tList=uploadform.topicList;
                var cTopic=uploadform.contentTopic;
                if(uploadform.contentTopic.value!="")
                {
                        var totNamedEntries=uploadform.topicList.length;
                        for(i=1;i<totNamedEntries;i++)
                        {
                                if(tList.options[i].text==cTopic.value)
                                {
                                        if(uploadform.topicExisting[1].checked)
                                        {
                                             if(confirm("The topic already exists. Pressing OK will put the file/s in existing Topic"))
                                                {
                                                        uploadform.actionName.value=field.name;
                                                        uploadform.submit();
                                                }
                                                else
                                                {
                                                        return;
                                                }
                                        }
                                }
                        }
                        uploadform.actionName.value=field.name;
                        uploadform.submit();
                }
                else
                {
                        alert("Topic Name Can not Empty !!");
                }
        }
</script>	
