#*
 * @(#)Track_ReportCourses.vm
 * Copyright (c) 2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 *  @author <a href="mailto:seema_020504@yahoo.com ">Seema Pal</a>
 *  @author <a href="mailto:kshuklak@rediffmail.com ">Kishore kumar shukla</a>
 *
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$page.setTitle("Tracking Report")
$page.setBgColor("bgcolor")
$!data.getMessage()
#set($lang = $data.getUser().getTemp("lang" ).toString())
<table bgcolor="$ui.tableColor" width=100%>
<tr><td><b>
	<font face="$ui.sansSerifFonts">
	#if($data.getUser().getUserName() == "admin")
	<a href=$link.setPage("Index.vm")>ਏਡਮਨੀ  ਦਾ  ਵਰਕੇ </a> |
        #if($type =="active")
    	<a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repotype")>Spurhaltung Berichte </a> |
        ਚਾਲੂ  ਯੂਜਰ  /ਵਿਸ਼ਾ   Berichte
        #end
	#else
	<a href=$link.setPage("call,IndexHome.vm")>ਵਰਕੇ </a> |
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$coursename </a> | 
	#if($type =="user")
      	<a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repotype")>Spurhaltung Berichte </a> |
        ਯੂਜਰ   Berichte
        #end
        #if($type =="course")
     	<a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repotype")>Spurhaltung Berichte </a> |
        ਵਿਸ਼ਾ   Berichte
        #end
        #if($type =="quiz")
    	<a href=$link.setPage("call,TrackingReport,Track_Report.vm").addPathInfo("mode","repotype")>Spurhaltung Berichte </a> |
        ਕਿਵਜ  Berichte
        #end
        #if($type==" ")
        Spurhaltung Berichte
        #end
	#end
	</font>
</b></td></tr>
</table>
<table width="100%">
<tr><td align=right>
	#if($data.getUser().getUserName() == "admin")
	<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/Trackadminreport.html","newWin");>ਸਹਾਇਤਾ </a>
	#else
	<img src="$content.getURI("/images/hand.gif")"><a href=javascript:popupWin("/brihaspati2/docs/TrackInstreport.html","newWin");>ਸਹਾਇਤਾ </a>
	#end
</td></tr>
</table>
<form name="frm" method="post" action=$link.setPage("call,TrackingReport,Track_ReportCourses.vm").setAction("TrackingReport")>
<table width=100%>
#if($mode == "repoinfo")
#if($type =="course")
<table  bgcolor="$ui.tableColor" width="100%" align="left" cellsapacing="0" cellpadding ="0">
<tr bgcolor="$ui.menuColor" width="100%"><td width="100%" colspan="5"><b>ਯੂਜਰ   ਵਿਸ਼ਾ   ਸੂਚਨਾਵਾਂ </b></td></tr>
<tr bgclor="$ui.menuColor" align="left">
        <td align="left" width="50%">ਯੂਜਰ   ਨਾਮ :
        <td align="left" width="50%"><b>$usrname</b>
</tr>
<tr bgclor="$ui.menuColor" >
        <td align="left" width="50%">ਯੂਜਰ   Role:
        <td align="left" width="50%"><b>$Rolename</b>
</tr>
<tr bgclor="$ui.menuColor">
        <td align="left" width="50%">ਵਿਸ਼ਾ  /Themen:
	#if($value =="noempty")
        <td align="left" width="50%"><b>$dc</b>
	#else
        <td align="left" width="50%"><b>Dieser Kurs ist leer .... </b>
        #end
</tr>
<tr bgclor="$ui.menuColor" >
        <td align="left" width="50%">Course Status:
        <td align="left" width="50%"><b>$Active</b>
</tr>
<tr bgclor="$ui.menuColor" width="100%" aligh="left">
        <td align="left" width="50%">Beitritt:</td>
        <td align="left" width="50%"><b>$jdate</td>
</tr>
<tr bgclor="$ui.menuColor">
        <td align="left" width="50%">ਕੁਲ  Zeit ਵਿੱਚ  ਵਿਸ਼ਾ  :
        <td align="left" width="50%"><b>$cctime</b>
</tr>
<table width="100%" align="left" cellsapacing="0" cellpadding ="0">
<tr bgcolor="$ui.menuColor" width="100%">
	#if($value =="noempty")
        <td align="left" width="30%"><b>ਪ੍ਰਸੰਗ  ( Topic )  ਨਾਮ :</td>
        <td align="left" width="20%"><b>ਕੁਲ  ਕੀਤੀ  . ਗਿਣਤੀ  ਲੇੱਖਪਤਰ  ( ਫਾਇਲ  ) </td>
        <td align="left" width="25%"><b>ਅਪ੍ਰਕਾਸ਼ਿਤ  ਲੇੱਖਪਤਰ  ( ਫਾਇਲ  ) </td>
        <td align="left" width="25%"><b>ਪ੍ਰਕਾਸ਼ਿਤ  ਕਰੋ   ਲੇੱਖਪਤਰ  ( ਫਾਇਲ  ) </td>
</tr>
#set($count = 1)
        #foreach($tname in $dcourse)
	#set($count2 = 1)
	#foreach($totalfile in $totalfile)
        #set($count3 = 1)
	#foreach($unpublist in $unpublist)
        #set($count4 = 1)
	#foreach($nofiles in $nofiles)
#if($count == $count2 && $count == $count3 && $count == $count4)
	#if($velocityCount%2==0)
        <tr bgcolor="$ui.tableColor">
        #else
        <tr bgcolor="$ui.menuColor">
        #end
        <td align="left" width="30%">$tname.getName()</td>
        <td align="left" width="20%"><b>$totalfile</td>
        <td align="left" width="25%"><b>$unpublist</td>
        <td align="left" width="25%"><b>$nofiles</td>
        </tr>
	#end
        #set ( $count4 = $count4+1 )
        #end
        #set ( $count3 = $count3+1 )
        #end
        #set ( $count2 = $count2+1 )
        #end
        #set ( $count = $count+1 )
        #end
 	#end
</table>
#end
#if($data.getUser().getUserName() == "admin")
#if($type =="active")
<tr bgcolor="$ui.menuColor" width="100%"><td width="100%" colspan="5"><b><i>Äußerst ਚਾਲੂ  ਯੂਜਰ  </i></b></td></tr>
<tr bgcolor="$ui.tableColor">
        <td align="left" width="30%"><b>ਯੂਜਰ   ਨਾਮ :</td>
        <td align="left" width="30%"><b>ਕੁਲ  ਕੀਤੀ  . ਗਿਣਤੀ  Zugänge</td>
        <td align="left" width="30%"><b>ਕੁਲ  Zugang Zeit</td>
</tr>
<tr bgcolor="$ui.menuColor">
        <td align="left" width="30%"><b>$uname</td>
        <td align="left" width="30%"><b>$tmp</td>
        <td align="left" width="30%"><b>$time</td>
</tr>
<tr bgcolor="$ui.menuColor" width="100%"><td width="100%" colspan="5"><b>Äußerst ਚਾਲੂ  ਵਿਸ਼ਾ  </b></td></tr>
<tr bgcolor="$ui.tableColor">
        <td align="left" width="30%"><b>ਵਿਸ਼ਾ   ਨਾਮ :</td>
        <td align="left" width="30%"><b>ਕੁਲ  ਕੀਤੀ  . ਗਿਣਤੀ  Benutzer Zugang</td>
        <td align="left" width="30%"><b>ਕੁਲ  Zugang Zeit</td>
<tr>
<tr bgcolor="$ui.menuColor">
        <td align="left" width="30%"><b>$gname1</td>
        <td align="left" width="30%"><b>$tmp1</td>
        <td align="left" width="30%"><b>$ctime</td>
</tr>
#end
#end
#end
</table>
</table>
	<input type="hidden" name="actionName" >
        <input type="hidden" name="type" value="$type">
        <input type="hidden" name="mode" value="$mode">
        <input type="hidden" name="status" value="$status">
        <input type="hidden" name="usrname" value="$usrname">
        <input type="hidden" name="valdir">
</form>
<SCRIPT LANGUAGE="javascript">
function Changename(frm,field)
        {
                frm.valdir.value=document.frm.uname.value;

        }
function checkNull(frm,field)
{
        if(frm.valueString.value!="")
        {
		frm.actionName.value=field.name;
                frm.submit();
        }
        else
                alert("The 'Match String' text box can not be NULL");
}
function Checkfield(frm,field)
        {
                var items;
                items=frm.valdir.value;
                if(items.length!=0)
                {
                        frm.actionName.value=field.name;
                        frm.submit();
                }
                        else
                        alert("Please select option");
        }
function popupWin(url,popupName)
{
        Win1=window.open(url,popupName,"resizable=0,scrollbars=1,height=400,width=400,align=left");
}
</script>
