#*
 * @(#)changePassword.vm
 * Copyright (c) 2005,2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:madhavi_mungole@hotmail.com">Madhavi Mungole</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Instructor Home | Change Password")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()

<table bgcolor="$ui.menuColor" width=100%>
<tr>
	<td><b><a href=$link.setPage("Index.vm")>집</a> | 비밀 번호 변경 </td>
</tr>
</table>
##<br>
<form name=frm method="post" action="$link.setPage("call,UserMgmt_User,changePassword.vm").setAction("changePW_User")">
#if($uName=="guest")
<table cellspacing=1 cellpadding=5>
        <tr>
        <td colspan=2 align="center" bgcolor="$ui.menuColor"><font size=4><b>
	##You have no permission to view this page 
	You have no permission to view this page
	</b></font></td></tr>
</table>
#else
<table width=100% bgcolor="$ui.tableColor">
	<tr>
	<td><b>비밀 번호 변경 </b></td>
#if($status=="")
	##<table align="right" width="100%">
	##<tr>
	<td align="right">
	#if($data.getUser().getTemp("lang").toString() == "hindi")
		<a href="$link.setPage("call,Chat,Chat.vm")">채팅</a> 뒤로
	#else
		뒤로 <a href="$link.setPage("call,Chat,Chat.vm")">채팅</a>
	#end
	</td>
	##</tr>
	##</table>
#end
	</tr>
        <tr bgcolor="$ui.menuColor">
        #formPasswordCell("이전 비밀 번호" "oldpassword" "")
        </tr>
        <tr>
        #formPasswordCell("새 비밀 번호" "newpassword" "")
        </tr>
        <tr bgcolor="$ui.menuColor">
        #formPasswordCell("새로운 암호를 다시 입력하십시오" "retypepassword" "")
        </tr>
        <tr>
        <td>
          <input type="hidden" name="actionName">
          <input type="hidden" name="status" value=$status>
          <input type="button" name="eventSubmit_doUpdate" value="제출하다" onClick="checkPassword(document.frm,this);"/>
          <input type="reset" name="reset" value="재설정" onClick="checkClear(document.frm,this);"/>
        </td>
        </tr>
</table>
#end
</form>
<SCRIPT LANGUAGE="javascript">
        function checkPassword(frm,field)
        {
                if((frm.oldpassword.value!="") && (frm.newpassword.value!="")  && (frm.retypepassword.value!=""))
                {
			if(frm.oldpassword.value == frm.newpassword.value)
			{
				alert("The values in 'Old Password' and 'New Password' fields are same !!")
			}
			else
			{
				if(frm.newpassword.value == frm.retypepassword.value)
				{
                                	frm.actionName.value=field.name;
                                	frm.submit();
				}
				else
				{
					alert("The values in 'New Password' and 'Retype New Password' fields are not same !!")
				}
			}
                }
                else
                {
                        alert("None of the fields can be empty !!");
                }
        }
        function checkClear(frm,field)
        {
	        frm.oldpassword.value="";
        	frm.newpassword.value="";
	        frm.retypepassword.value="";
        }
</SCRIPT>
