#*
 * @(#)ViewQuiz.vm
 * Copyright (c) 2007 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("")
#set($cnm = $data.getUser().getTemp("course_name" ).toString())

		#*	<table>
			#if($startQuiz == false)
			<tr><td> 퀴즈 시간은 끝난다  Quiz Time is Over</td></tr>
			#end
			</table>*#
<table bgcolor="$ui.tableColor" width=100%>
        <tr>
                <td>
                <font face="$ui.sansSerifFonts"><b>
                <a href=$link.setPage("call,IndexHome.vm")>집</a> |
		<a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$cnm</a> |
        	<a href=$link.setPage("call,Quiz_Mgmt,Quiz_Start.vm")>퀴즈</a> |  
		<a href=$link.setPage("call,Quiz_Mgmt,Quiz_Detail.vm")>퀴즈 세부 내용</a> | 보기 & 업데이트 퀴즈
                </font>
                </td>
        </tr>
</table>
$!data.getMessage()
<br>
#*<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="$ui.bgcolor" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="yourClock()", onUnload="stopClock(); return true" >
*#
<form name="frm" method="post"  enctype="multipart/form-data" action=$link.setPage("call,Quiz_Mgmt,ViewQuiz.vm").setAction("Quiz_Action")>
<div align="left">
	<table align=center bgcolor="$ui.tableColor" border=0 cellpadding="5" width=70% >
        <tr bgcolor="$ui.menuColor" >
        	<td align=center colspan=2 >
        		<font size=4><b>퀴즈 이름  $!quid  </b></font>
                </td>
        </tr>
	<tr>
		<td>
		<table align=center bgcolor="$ui.tableColor" border=1 cellpadding="3" width=100% >
		#foreach($e in $contentvalue)
		
		<tr>
			<td align=center colspan=2 width=30%>
				<font size=4> <b>질문  </b></font>
			</td>
			<td>
				$!e.getQuestion()
			</td>
			<td>
			<a href=$link.setPage("call,Quiz_Mgmt,Multi_Type.vm").addPathInfo("typeList",$e.getQuiztype()).addPathInfo("quizid",$quid).addPathInfo("questioid",$e.getquestionid()).addPathInfo("Mode","edit") >편집 </a>
			
			</td>
		</tr>
		
		<tr>
			<td align=center colspan=2 width=30% >
                                <font size=4> <b>  답    </b></font>
                        </td>
	                <td>
				<table align=center bgcolor="$ui.tableColor" border=0 cellpadding="5" width=100% >
				
					#if($e.getQuiztype() == "Multiple")
	        	                <tr> 
					      	<td align=left colspan=2 > <b> A </b>
						<INPUT TYPE="CHECKBOX" NAME="한" VALUE = "" onClick="addDeleteList(this,document.frm);">
						$!e.getoptionA()	
	                       	        	</td>
						<td align=left colspan=2 ><b> B </b>
						<INPUT TYPE="CHECKBOX" NAME="B" VALUE = "" onClick="addDeleteList(this,document.frm);">
							$!e.getoptionB()
						</td>
					</tr>
					<tr>	
				
						<td align=left colspan=2 > <b> C </b>
                               			<INPUT TYPE="CHECKBOX" NAME="C" VALUE ="" onClick="addDeleteList(this,document.frm);">
                                                	$!e.getoptionC()
                                        	</td>
                                		<td align=left colspan=2> <b> D </b>
                               			<INPUT TYPE="CHECKBOX" NAME="D" VALUE ="" onClick="addDeleteList(this,document.frm);">  
						$!e.getoptionD()
                                        	</td>
					</tr>
					#end
					#if($e.getQuiztype() == "TF")
					<tr>
	
					<td align=center colspan=2>
					<input type="RADIO" name="field1"  value="한" onClick="radio_button_checker(document.frm);">
							$!e.getoptionA()	
					</td>
					<td align=center colspan=2 >
					<input type="RADIO" name="field1" value="B" onClick="radio_button_checker(document.frm);" >
						$!e.getoptionB()
					</td>	
					</tr>
					#end			
					#if($e.getQuiztype() == "Short")
					<tr>
					<td align=center colspan=2>
				<textarea name="message" wrap="physical" rows=2 cols=40 "readonly" > $!e.getAnswer() </textarea>
					</td>
					</tr>	
					#end
				</table>
			</td>
			<td>
	
			</td>
		</tr>
		#if($e.getQuiztype() != "Short" )
		<tr>
			<td align=center colspan=2 width=30%>
                                <font size=4> <b> 올바른  답 </b></font>
                        </td>
                        <td>
                                $!e.getAnswer()
                        </td>
		</tr>
		#end
		
	               <INPUT TYPE="hidden" NAME="idarvind" VALUE= "$e.getquestionid()" >
		#end 	
		</table>
		</td>
	</tr>
			
			 <input type="hidden" name="qid" value="$!quid">	
			<input type="hidden" name="actionName">
		</table>
		</td>
        </tr>
   </table>
  </div>
</form>
</body>

<SCRIPT LANGUAGE="javascript">

        function checkField(frm,field)
        {
			frm.actionName.value=field.name;
                	frm.submit();
	}

</script>
