#*
 * @(#) Adminwiki.vm
 * Copyright(c)2005,2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:manav_cv@yahoo.co.in">Manvendra Baghel</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("$brih_home|$course|$brih_Wiki | $Wikimain5")
$page.setBgColor($ui.bgcolor)
$!data.getMessage()

<style type="text/css"> input{ width:170px; } </style>

<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.menuColor"><td>
        <b>
        <a href=$link.setPage("call,IndexHome.vm")>ਵਰਕੇ </a> |
        <a href=$link.setPage("call,CourseMgmt_User,CourseHome.vm")>$course</a> |
        <a href=$link.setPage("call,Wiki,Wiki.vm")>ਵਾਇਕੀ  </a> | ਨਿਅੰਤਰੀਤ  ਵਾਇਕੀ 
        </b>
</td>
</tr>
##</table>
## Representation of HELP link
##<table width=100% align=left bgcolor="$ui.tableColor">
        <tr>
                <td align=right colspan=3>
                       <img src="$content.getURI("/images/hand.gif")"> <a href=javascript:popupWin("/brihaspati2/docs/Wikiusermanual.html","newWin");>ਸਹਾਇਤਾ </a>
                </td>
        </tr>
##</table>
#if($mypage=="empty")
	<h3><b>ਵਾਇਕੀ  ਵਿੱਚ  ਵਰਕੇ  ਨਹੀ  ਹਨ  , ਕ੍ਰਿਪਿਆ  ਨਵੇਂ  ਵਰਕੇ  ਦੀ  ਰਚਨਾ  ਕਰੋ </b></h3>
#else
##<table width="100%" align="left" bgcolor="$ui.tableColor">
			<tr bgcolor="$ui.menuColor">
				<td>
        				<marquee scrollamount="3" direction="left" loop="0" width="100%" behaviour="slide">
        				<b>ਜੇਕਰ  ਆਪ  ਸਰਗਰਮ  / ਨਿਸ਼ਕੀਰੀਏ  ਸੁਧਾਰੋ  ਬਟਨ  ਨੂੰ  ਦੇਖਨ  ਵਿੱਚ  ਅਸਮਥ॔  ਹੋ  ਤਾਂ  ਦਿਖਾਏ  ਵਰਕੇ  ਤੇ  ਕਲਿਕ  ਕਰੋ  ।  ਇੱਕਠਾ  ਹੋਣ  ਤੇ  ਬਾਅਦ  , merge ਤੇ  ਕਲਿਕ  ਕਰੋ  ।  ਸਾਰੀਆਂ  ਤਬਦੀਲੀਆਂ  ਦੇਖਣ  ਦੇ  ਬਾਅਦ  ਤਬਦੀਲੀ  ਹਟਾਵਾਂ  ਤੇ  ਕਲਿਕ  ਕਰੋ  ।  ਵਰਕੇ  ਤੇ  ਕੰਮ  ਪੂਰਾ  ਹੋਣ  ਤੇ  ਸੁਧਾਰੋ  ਵਿਕਲਪ  ਤੇ  ਕਲਿਕ  ਕਰੋ  , ਅਤੇ  ਅਗਲੇ  ਵਰਕੇ  ਤੇ  ਜਾਓ  ।  </b>
        				</marquee>
					##<br>
				</td></tr>
				<td><tr bgcolor="$ui.tableColor">
					#if($num != 0)
						<p align=center><b><font color="red">ਨਿਸ਼ਕੀਰੀਏ  ਵਰਕੇ  ਸੁਧਾਰੋ  ( $num ) $dispage</font></b></p>
					#end
				</td>
			</tr>
		##</table>




		<FORM  name=frm method="POST" action="$link.setPage("call,Wiki,Adminwiki.vm").setAction("Wikieditaction")">
		##<table align="left" bgcolor="$ui.tableColor" width="100%" >
			<tr>
				<td>
					<p align=center>
					<input type="hidden" name="actionName" >
		 			#if($merge == "false")
						<input type="submit" name="eventSubmit_doShowhistory" value="ਦ੍ਰਿਸ਼  ਵਰਕੇ "/>
						<input type="submit" name="eventSubmit_doShowhistory" value="ਮਰਜ  ਕੀਤੇ  ਵਰਕੇ  ਵੇਖੋ "/>
						<input type="submit" name="eventSubmit_doDiff" value="ਪਰੀਵਤ॔ਨ  ਵੇਖੋ "/>
						<input type="submit" name="eventSubmit_doDiff" value="ਮਿਸ਼ਰਤ  ਵੇਖੋ "/>
 						<input type="submit" name="eventSubmit_doShoworiginal" value="ਮੌਲਕ  ਵਰਕੇ  ਵੇਖੋ "/>
						<input type="button" name="eventSubmit_doRevert" value="ਮੌਲਕ  ਵਰਕੇ  ਨੂੰ  ਸੇਵ  ਕਰੀਏ "  onClick="checktextName(document.frm,this);"/>
						<input type="button" name="eventSubmit_doDelpage" value="ਵਰਕੇ  ਹਟਾਏਂ " onClick="doAskPage(document.frm,this);"/>
						#if($fname!="")
        						#if($traffic == "stop")
                						<input disabled type="submit" name="eventSubmit_doStoptraffic" value="ਸੰਪਾਦਨ  ਰੋਕਾਂ "/>
               							<input type="submit" name="eventSubmit_doStoptraffic" value="ਸੰਪਾਦਨ  ਸਰਗਰਮ  ਰੋਕਾਂ "/>
        						#end
        						#if($traffic == "start")
                						<input type="submit"  name="eventSubmit_doStoptraffic" value="ਸੰਪਾਦਨ  ਰੋਕਾਂ "/>
                						<input disabled type="submit" name="eventSubmit_doStoptraffic" value="ਸੰਪਾਦਨ  ਸਰਗਰਮ  ਰੋਕਾਂ "/>
        						#end
						#end
					#end
 	                               	#if(($traffic == "stop")&&($merge != "true"))


						<input type="button" name="eventSubmit_doDelversion" value="ਤਬਦੀਲੀ  ਹਟਾਵਾਂ " onClick="doAskVersion(document.frm,this);"/>

					#end
					#if($traffic == "stop")
						<input type="button" name="eventSubmit_doMergenow" value="ਮਰਜ  ਕਰੀਏ " onClick="checkVersion(document.frm,this);"/>
					#end
        	        		#if(($fname!="")&&($merge == "true"))
						<input type="submit" name="eventSubmit_doMergedone" value="ਮਰਜ  ਪੂਰਾ॔  ਹੋਇਆ "/>
                				<input type="submit" name="eventSubmit_doShoworiginal" value="ਮਰਜ  ਕਰਨ  ਕਰਕੇ  ਮੁਖਾਲਫਤ  ਵੇਖੋ  "/>
                				<input type="submit" name="eventSubmit_doRevert" value="ਮਰਜ  ਕੀਤਾ  ਵਰਕਾ  ਸੁਰਖਿਅਤ  ਕਰੋ "/>
        				#end
					</p>
				</td>
			</tr>
			<tr bgcolor="$ui.menuColor">
				<td>
					<p align ="center">
					ਵਰਕੇ  ਦਾ  ਨਾਮ  <SELECT  name="fname" >
					#if($fname!="")
						<OPTION >$fname</OPTION>
					#end
					#foreach($file in $mypage)			
						<OPTION >$file</OPTION>
					#end
					</SELECT>
					ਪਾਠੰਤਰ  ਗਿਣਤੀ  <INPUT type="text" name="vname" 
					#if($vname!="")
						value ="$vname" 
					#end
					size="25">
					<input type="submit" name="eventSubmit_doShoworiginal" value="ਲਾਗ  ਵੇਖੋ "  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p align =center>
#*
* Setting of textarea tag  contents below may seem untidy but don't touch them
* as they work properly only in this way
*#
<TEXTAREA  name="text" rows="25"  cols="90" >
#if($pad!="")
$pad
#end
#foreach($t in $first)
$t
#end
</TEXTAREA>
					##<br><br>
					</p>	
				</td>
			</tr>
			<tr bgcolor="$ui.menuColor">
				<td>
					<p align=center>
		 			#if($merge == "false")
						<input type="submit" name="eventSubmit_doShowhistory" value="ਦ੍ਰਿਸ਼  ਵਰਕੇ "/>
						<input type="submit" name="eventSubmit_doShowhistory" value="ਮਰਜ  ਕੀਤੇ  ਵਰਕੇ  ਵੇਖੋ "/>
						<input type="submit" name="eventSubmit_doDiff" value="ਪਰੀਵਤ॔ਨ  ਵੇਖੋ "/>
						<input type="submit" name="eventSubmit_doDiff" value="ਮਿਸ਼ਰਤ  ਵੇਖੋ "/>
 						<input type="submit" name="eventSubmit_doShoworiginal" value="ਮੌਲਕ  ਵਰਕੇ  ਵੇਖੋ "/>
						<input type="button" name="eventSubmit_doRevert" value="ਮੌਲਕ  ਵਰਕੇ  ਨੂੰ  ਸੇਵ  ਕਰੀਏ "  onClick="checktextName(document.frm,this);"/>
						<input type="button" name="eventSubmit_doDelpage" value="ਵਰਕੇ  ਹਟਾਏਂ " onClick="doAskPage(document.frm,this);"/>

						#if($fname!="")

        						#if($traffic == "stop")
                						<input type="submit" disabled name="eventSubmit_doStoptraffic" value="ਸੰਪਾਦਨ  ਰੋਕਾਂ "/>
                						<input type="submit" name="eventSubmit_doStoptraffic" value="ਸੰਪਾਦਨ  ਸਰਗਰਮ  ਰੋਕਾਂ "/>
        						#else
               							<input type="submit" name="eventSubmit_doStoptraffic" value="ਸੰਪਾਦਨ  ਰੋਕਾਂ "/>
                						<input type="submit" disabled  name="eventSubmit_doStoptraffic" value="ਸੰਪਾਦਨ  ਸਰਗਰਮ  ਰੋਕਾਂ "/>
        						#end
						#end
		  			#end
					
					#if(($traffic == "stop")&&($merge != "true"))

						<input type="button" name="eventSubmit_doDelversion" value="ਤਬਦੀਲੀ  ਹਟਾਵਾਂ " onClick="doAskVersion(document.frm,this);"/>

					#end
					#if($traffic == "stop")

						<input type="button" name="eventSubmit_doMergenow" value="ਮਰਜ  ਕਰੀਏ " onClick="checkVersion(document.frm,this);"/>
		   			#end
        	   			#if(($fname!="")&&($merge == "true"))
						<input type="submit" name="eventSubmit_doMergedone" value="ਮਰਜ  ਪੂਰਾ॔  ਹੋਇਆ "/>
                				<input type="submit" name="eventSubmit_doShoworiginal" value="ਮਰਜ  ਕਰਨ  ਕਰਕੇ  ਮੁਖਾਲਫਤ  ਵੇਖੋ  "/>
                				<input type="submit" name="eventSubmit_doRevert" value="ਮਰਜ  ਕੀਤਾ  ਵਰਕਾ  ਸੁਰਖਿਅਤ  ਕਰੋ "/>
        	    			#end
					</p>
		
				</td>
			</tr>
			<tr>
				<td>
## This space is for look and feel

				</td>
			</tr>

		</table>
		</FORM>
#end   #* end of #if($mypage=="empty")*#




<SCRIPT LANGUAGE="javascript">
        function popupWin(url,popupName)
        {
                Win1=window.open(url,popupName,"scrollbars=1,height=400,width=400");
        }

        function checkVersion(frm,field)
        {
                if(frm.vname.value!="") 
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        alert("Please Fill Page Version Field");
                }
        }
	function checktextName(frm,field)
        {
                if(frm.text.value!="")
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        alert("Please write something on the page ");
                }
        }


      function doAskPage(frm,field)
        {
                if(confirm('Are you sure you want to delete?'))
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
        }



      function doAskVersion(frm,field)
        {
                if(confirm('Are you sure ,all current versions will be deleted by this?'))
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
        }

	 function doAskMerge(frm,field)
        {
                if(confirm('Are you sure , you have  clicked on merge now before ?'))
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
        }


</SCRIPT>
