#*
 * @(#)InstUserAttendence_Sheet.vm
 *  Copyright (c) 2010 ETRG,IIT Kanpur.
 *  All Rights Reserved.
 *  @author <a href="mailto:arvindjss17@yahoo.co.in ">Arvind Pal</a>
 *  @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 *  Contributors: Members of ETRG, I.I.T. Kanpur
 *#

#set($lang=$data.getUser().getTemp("lang").toString())

$!data.getMessage()
<table bgcolor="$ui.tableColor" width=100% align="center">
    <tr bgcolor="$ui.menuColor"> <td colspan=7>
        <a href=$link.setPage("Index.vm") style=text-decoration:none>এডিমেনর মুখ্য় পৃষূঠা</a> |
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("count","1") style=text-decoration:none>ব্য়বহারকর্তা পিরচালন</a> | উপস্িথিতর িরেপার্ট
     </td></tr>
##</table>
##<table align=left width=100% bgcolor="$ui.tableColor">
<tr>
	#if($tdcolor != "1")
        <td>
        #elseif($tdcolor == "1")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("count","1") style=text-decoration:none >সংযুক্ত ব্য়বহারকর্তা</a></td>
	#if($tdcolor != "2")
        <td>
        #elseif($tdcolor == "2")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","sclist").addPathInfo("count","2") style=text-decoration:none>িবদ্য়ার্থী িবষয় তািলকা</a></td>
	#if($tdcolor != "3")
        <td>
        #elseif($tdcolor == "3")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","instructor").addPathInfo("count","3") style=text-decoration:none>মুিছয়া েফেলা িশক্খক</a></td>
	#if($tdcolor != "4")
        <td>
        #elseif($tdcolor == "4")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","userdelete").addPathInfo("role","student").addPathInfo("count","4") style=text-decoration:none>মুিছয়া েফেলা িবদ্য়ার্থী</a></td>
	#if($tdcolor != "5")
        <td>
        #elseif($tdcolor == "5")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","AddMUser").addPathInfo("count","5") style=text-decoration:none>সংযুক্ত বহু  ব্য়বহারকর্তা</a></td>
	#if($tdcolor != "6")
        <td>
        #elseif($tdcolor == "6")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("mode","UPhoto").addPathInfo("count","6") style=text-decoration:none>আপেলাড েফােটা</a></td>
	#if($tdcolor != "7")
        <td>
        #elseif($tdcolor == "7")
        <td bgcolor="#AFDCEC">
        #end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("count","7") style=text-decoration:none>উপস্িথিতর িরেপার্ট</a></td>
</tr>
##</table>
<form name=frm method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserMgmt_Admin.vm").addPathInfo("status","ForallUser")">


##<table align="left" width=100% bgcolor="$ui.tableColor">
        <tr bgcolor="$ui.menuColor">
                ##<td align=left colspan=2 bgcolor="$ui.menuColor">
                <td align=left colspan=7>
                        <b>অনুরুত পঁক্িত </b>
                        <input align=center type="text" name="valueString" value="" >
                        <input type="button" name="Search" value="েখাঁজ" onClick="checkNull(document.frm,this);">
                        <input type="hidden" name="mode" value="Search">
                        <input type="hidden" name="count" value="$tdcolor">
                </td>
        </tr>

	<tr>	
		##<td colspan=2 align="left" bgcolor="$ui.menuColor" ><font size=4>
		<td colspan=7 align="left">
	                <b> উপস্িথিতর িরেপার্ট জন্য় <font color=green><i> িশক্খক </i></b></font>
                </td>
	</tr> 
  	<tr>
	##<td bgcolor="$ui.tableColor" valign=top width="40%">
	<td colspan=7>
      		##<table width="100%" valign=top > 
			##<tr bgcolor="$ui.menuColor">
			<tr bgcolor="$ui.menuColor">
				<td colspan=7 align="left"><b>
					িশক্খক নাম  
				</td>
			</tr>
			#foreach ($e in $userlist)
			#if($velocityCount%2==0)
	        	<tr bgcolor="$ui.menuColor">
			#else
	        	<tr bgcolor="$ui.tableColor">
			#end
		                <td colspan=7>
                		<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("name",$e.getSender()).addPathInfo("userId",$e.getMSubject()).addPathInfo("status","Subcolumn").addPathInfo("count","$tdcolor") style=text-decoration:none> $e.getSender() </a>&nbsp;&nbsp;&nbsp;
                		</td>
			##</tr> ##today 24aug by jai
        		#end
		##</table> 
	</td>
	#if($status == "Subcolumn")
	##<td  bgcolor="$ui.menuColor" width="60%" valign=top>
	<td>
		##<table width="100%">
			<tr bgcolor="$ui.menuColor">
				<td colspan=7 align="left">উপস্িথিতর িরেপার্ট এর <font color=green><i>$name</i></td>
			</tr>
			##<tr bgcolor="$ui.menuColor" >
			<tr>
				<td>তািরখ এবং সময়</td>
			</tr>
		#if($status1 == "check")
			#foreach ($e in $instructorList)
                        ##<tr bgcolor="$ui.menuColor">
                        <tr>
                                <td>
                                        $e
                               </td>
                         </tr>
        		#end
		#else
			<tr>
			        <td>
					<b> <font color=green>	<i> $mess   </i></b></font>
                        	</td>
			</tr>
		#end
		##</table>
	</td>
	#end
	</tr>
## For pagination
#if($status != "Subcolumn")
<tr bgcolor="$ui.menuColor">
                ##<td align=left colspan=2 bgcolor="$ui.menuColor">
                <td align=left colspan=7>
        #if($mode!="Search")
        #if($total_size<= $AdminConf)
         <font color="white">প্রথম</font> &nbsp;
         <font color="white">এরপর</font> &nbsp;
         <font color="white">পূর্ববর্তী</font> &nbsp;
         <font color="white">অন্িতম</font> &nbsp;
        #elseif($startIndex== $AdminConf_str)
          <font color="white">প্রথম</font> &nbsp;
          <font color="white">পূর্ববর্তী</font> &nbsp;
       <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>এরপর</a> &nbsp;
       <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>অন্িতম</a> &nbsp;
        #elseif($endIndex == $total_size || $endIndex > $total_size)
       <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>প্রথম</a> &nbsp;
       <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>পূর্ববর্তী</a> &nbsp;
        <u><font color="white">এরপর</font></u> &nbsp;
        <u><font color="white">অন্িতম</font></u> &nbsp;
       #else
         <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>প্রথম</a> &nbsp;
         <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>পূর্ববর্তী</a> &nbsp;
         <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$startIndex).addPathInfo("end",$endIndex).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>এরপর</a> &nbsp;
          <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("count",$tdcolor) style=text-decoration:none>অন্িতম</a> &nbsp;
        #end
#else
                #if($total_size<= $AdminConf)
         <font color="white">প্রথম</font> &nbsp;
         <font color="white">এরপর</font> &nbsp;
         <font color="white">পূর্ববর্তী</font> &nbsp;
         <font color="white">অন্িতম</font> &nbsp;
                #elseif($startIndex== $AdminConf_str)
          <font color="white">প্রথম</font>&nbsp;
          <font color="white">পূর্ববর্তী</font>&nbsp;
       <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>এরপর</a> &nbsp;
       <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>অন্িতম</a> &nbsp;
        #elseif($endIndex == $total_size || $endIndex > $total_size)
      <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>প্রথম</a> &nbsp;
      <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>পূর্ববর্তী</a> &nbsp;
        <u><font color="white">এরপর</font></u> &nbsp;
        <u><font color="white">অন্িতম</font></u> &nbsp;
                #else
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$check_first).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString)addPathInfo("count",$tdcolor) style=text-decoration:none>প্রথম</a> &nbsp;
                <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$check_pre).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>পূর্ববর্তী</a> &nbsp;
       <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$startIndex).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>এরপর</a> &nbsp;
       <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserAttendence_Sheet.vm").addPathInfo("startIndex",$check_last).addPathInfo("mode",$mode).addPathInfo("queryList",$query).addPathInfo("valueString",$valueString).addPathInfo("count",$tdcolor) style=text-decoration:none>অন্িতম</a> &nbsp;
                #end
        #end
        </td>
        </tr>
#end
</table>

<SCRIPT language="JavaScript">
        function checkNull(frm,field){
                if(frm.valueString.value!=""){
                        frm.submit();
                }
                else{
                        alert("The 'Match String' text box can not be NULL");
                }
        }
</SCRIPT>
