#*
 * @(#) InstUserProxy.vm
 * Copyright (c) 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:nagendrakumarpal@yahoo.co.in">Nagendra Kumar Singh</a>
 * @author <a href="mailto:singh_jaivir@rediffmail.com">Jaivir Singh</a>
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Admin Home | User Management | Proxy User")
$!data.getMessage()
<table bgcolor="$ui.menuColor" width=100%>
<tr>
	<td><a href=$link.setPage("Index.vm") style=text-decoration:none>এডিমেনর মুখ্য় পৃষূঠা</a> | প্রক্িসর ব্য়বহারকর্তা</td>
</tr>
</table>
##<form name=frm method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserProxy.vm").setAction("AddProxyUser")">
<form name=frm method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserProxy.vm").setAction("InstituteProxyUser")">
<table bgcolor="$ui.tableColor" width=100%>
<tr>
	<td colspan="2">
	<b>
		#if(( $data.getUser().getTemp("lang" ).toString())=="hindi")
			প্রক্িসর ব্য়বহারকর্তা এর স্পষ্টভােব বর্ণনা  আপেলাড
		#else
			Enter প্রক্িসর ব্য়বহারকর্তা স্পষ্টভােব বর্ণনা 
		#end
	</b></td>
</tr>
<tr bgcolor="$ui.menuColor">
	<td colspan=2><b>প্রক্িসর ব্য়বহারকর্তা নাম <font color=red>*</font></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" size=25 name="UNAME" value=""></td>
	##formCell ("প্রক্িসর ব্য়বহারকর্তা নাম <font color=red>*</font>" "UNAME" "")
</tr>
<tr>
	<td colspan=2><b>পাসওয়ার্ড</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="text" size=25 name="PASSWD" value=""></td>
	##formPasswordCell ("পাসওয়ার্ড" "PASSWD" "")
</tr>
<tr bgcolor="$ui.menuColor">
	<td colspan=2>
	<input type="hidden" name="actionName">
	<input type="button" name="eventSubmit_doRegister" value="িনবন্িদত" onClick="checkField(document.frm,this);"/> 
	</td>
</tr>
</table>
</form>



<SCRIPT LANGUAGE="javascript">
	function checkField(frm,field)
	{
		if(frm.UNAME.value!="") 
		{
				frm.actionName.value=field.name;
				frm.submit();
		}
		else
		{
		        alert("Please fill the Mandatory(*) Fields !!");
		}
	}
</SCRIPT>
