#*
 * @(#) RegisterSecInstructorInst.vm
 * Copyright (c) 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="awadhesh_trivedi@yahoo.co.in">Awadhesh Kumar Trivedi</a>  
 * @author <a href="singh_jaivir@rediffmail.com">Jaivir Singh</a>  
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#


##<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

##<body bgcolor="$ui.bgcolor" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<body>
$page.setTitle("Admin Home | Registeration Management | Register Secondary Instructor | Registeration")
$!data.getMessage()
#set($lang = $data.getUser().getTemp("lang" ).toString()) 
<table align=left bgcolor="$ui.menuColor" width=100%>
<tr>
	<td>
	<font face="$ui.sansSerifFonts" size=3>
	 <a href=$link.setPage("Index.vm") style=text-decoration:none>এডিমেনর মুখ্য় পৃষূঠা</a> |
	 <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserRegistrationManagement.vm").addPathInfo("count","1") style=text-decoration:none>িনবন্দীকরন পিরচালন</a> |
	 <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserRegistrationManagement.vm").addPathInfo("mode","All").addPathInfo("scourse","scourse").addPathInfo("count","3") style=text-decoration:none>নমন্ত িবষেয়র তািলকা</a> | 
	#if($lang=="hindi")
	 $entry জন্য় দ্িবতীয় িশক্খেকর িনবন্দীকরেনর জন্য় 
	#else
	  জন্য় দ্িবতীয় িশক্খেকর িনবন্দীকরেনর জন্য় $entry
	#end
	 </td>
</tr>
</table>
<table width=100% align=left bgcolor="$ui.tableColor">
        <tr>
	#if($tdcolor != "1")
	<td width=33%>
	#elseif($tdcolor=="1")
	<td width=33% bgcolor="#AFDCEC">
	#end
	<a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserRegistrationManagement.vm").addPathInfo("count","1") style=text-decoration:none>িনবন্িদত িবষয়</a></td>
	#if($tdcolor != "2")
	<td width=33%>
	#elseif($tdcolor=="2")
	<td width=33% bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserRegistrationManagement.vm").addPathInfo("mode","MCRegister").addPathInfo("count","1") style=text-decoration:none>িনবন্িদত বহু  িবষয়</a></td>
	#if($tdcolor != "3")
	<td width=33%>
	#elseif($tdcolor=="3")
	<td width=33% bgcolor="#AFDCEC">
	#end
        <a href=$link.setPage("call,UserMgmt_InstituteAdmin,InstUserRegistrationManagement.vm").addPathInfo("mode","All").addPathInfo("scourse","scourse").addPathInfo("count","3") style=text-decoration:none>িবষয় তািলকা</a></td>
        </tr>
</table>
<form name=frm method="post" action="$link.setPage("call,UserMgmt_InstituteAdmin,InstUserRegistrationManagement.vm").setAction("InstructorRegisteration").addPathInfo("cName",$entry)">
<table align=left width=100% bgcolor="$ui.tableColor">
<tr bgcolor="$ui.menuColor">  
		<td><b>িবষয় আইিড</b></td>
		<td><b>$entry</b></td>
      </tr>
      <tr>
        #formCell ("ব্য়বহারকর্তা নাম <font color=red>*</font>" "UNAME" "")
      </tr>
      <tr bgcolor="$ui.menuColor" >
        #formPasswordCell ("পাসওয়ার্ড" "PASSWD" "")
      </tr>
      <tr>
  	#formCell ("প্রথম নাম" "FNAME" "")
      </tr>
      <tr bgcolor="$ui.menuColor">
        #formCell("অন্িতম নাম" "LNAME" "")
      </tr>
      <tr>
        #formCell("ইেমল আইিড" "EMAIL" "")
      </tr>
	<tr bgcolor="$ui.menuColor">
	<td colspan=2 align=left>
	    <input type="button" name="eventSubmit_doRegister" value="িনবন্দীকরন" onClick="checkField(document.frm,this);"/>
	    <input type="reset" name="Clear" value="পিরষ্কার কর"/>
	</td>
	</tr>
    </table>
    <input type="hidden" name="actionName">
    <input type="hidden" name="mode" value="$mode">	
    <input type="hidden" name="cName" value="$entry">	
    <input type="hidden" name="count" value="$tdcolor">	
  </div>
</form>
</body>

<SCRIPT LANGUAGE="javascript">
        function checkField(frm,field)
        {
                if(frm.UNAME.value!="")
                {
                                frm.actionName.value=field.name;
                                frm.submit();
                }
                else
                {
                        alert("Please fill the Mandatory(*) Fields !");
                }
        }
</SCRIPT>
