#* * @(#)AdminParam.vm
 * Copyright (c) 2005,2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:chitvesh@yahoo.com">Chitvesh Dutta</a>
 * @author <a href="mailto:awadhk_t@yahoo.com">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista Bano</a>
 * modified date: 17-10-2009
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$page.setTitle("Admin Home | Change Parameters")

$page.setBgColor($ui.bgcolor)
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())
<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.menuColor">
	<td colspan="2">
	<font face="$ui.sansSerifFonts" size=3>
	<b>
     	<a href=$link.setPage("Index.vm")>এডিমেনর মুখ্য় পৃষূঠা</a> | প্রশাসেকর রুপেরখা
	</td>
</tr>
<form name="frm" method="post" action="$link.setPage("call,AdminProfile,AdminParam.vm").setAction("changeAParam")">
    ##<tr><td bgcolor="#AFDCEC"><font size=4>প্রশাসেকর রুপেরখা</font></td></tr>
    <tr><td><font size=4>প্রশাসেকর রুপেরখা</font></td></tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("প্রথম নাম" "AFName" "$!afname")
	<td width="30"> <font face="$ui.sansSerifFonts"> প্রথম নাম </font></td> 
	<td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AFName" value="$!afname"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("অন্িতম নাম" "ALName" "$!alname")	
	<td width="30"> <font face="$ui.sansSerifFonts"> অন্িতম নাম </td>   
	<td width="50"> <font face="$ui.sansSerifFonts"><input type="text" size="30" name="ALName" value="$!alname"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("কান্িফিগউেরশ্েনর মােনর সুচী " "AdminConf" "$!AdminConf")	
	<td width="30"> <font face="$ui.sansSerifFonts">কান্িফিগউেরশ্েনর মােনর সুচী  </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminConf" value="$!AdminConf"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("িবষয় সমাপ্িতর সময় (িদেন)" "AdminCrsExp" "$!CrsExp")	
	<td width="30"> <font face="$ui.sansSerifFonts"> িবষয় সমাপ্িতর সময় (িদেন) </font></td>	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminCrsExp" value="$!CrsExp"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("Mail Server নাম" "mailServ" "$!mServer")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang != "english") Mail Server এর নাম #else Mail Server নাম #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailServ" value="$!mServer"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang != "english") Mail Server এর پورٹ #else Mail Server پورٹ #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailServPort" value="$!mServerPort"> </font></td>
    </tr>

    <tr bgcolor="$ui.menuColor">
      ##formCell("Mail From" "mailFrom" "$!mFrom")	
	<td width="30"> <font face="$ui.sansSerifFonts"> Mail From </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts">  <input type="text" size="30" name="mailFrom" value="$!mFrom"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("ইস্থানীয় Domain নাম" "mailDomain" "$!dName")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang != "english") ইস্থানীয় Domain এর নাম #else  ইস্থানীয় Domain নাম #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailDomain" value="$!dName"> </font> </td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("Mail ব্য়বহারকর্তা নাম" "muName" "$!muname")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang !="english") Mail کے ব্য়বহারকর্তা এর নাম #else  Mail ব্য়বহারকর্তা নাম #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="muName" value="$!muname"> </font> </td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formPasswordCell("Mail পাসওয়ার্ড" "mPass" "$!mPassword")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang !="english") Mail এর পাসওয়ার্ড #else Mail পাসওয়ার্ড #end</font></td>	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="password" size="30" name="mPass" value="$!mPassword"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
	<td width=30><font face="$ui.sansSerifFonts">িবষয় Quota (মধ্েয় MB)</td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="cquota" value="$!cquota"></font></td>
</tr>
    <tr bgcolor="$ui.tableColor">
	<td width=30><font face="$ui.sansSerifFonts">ব্য়বহারকর্তা Quota (মধ্েয় MB)</td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="uquota" value="$!uquota"></font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">

	<td width=30><font face="$ui.sansSerifFonts">মুখ্য় পৃষূঠা Directory </td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="hdir" value="$!hdir"></font></td>
</tr>
    <tr bgcolor="$ui.tableColor">
      <td colspan=2 bgcolor="$ui.menuColor">	
	  <input type="hidden" name="actionName">
          <input type="button" name="eventSubmit_doUpdate" value="দািখল কর" onClick="checkValues(document.frm,this);"/>
	  <input type="reset" name="reset" value="পুনরায় েসট কর" onClick="checkClear(document.frm,this);"/>
	  <input type="hidden" name="count" value="$tdcolor">
      </td>
    </tr>
</form>
</table>

<SCRIPT LANGUAGE="javascript">
function checkValues(frm,field)
{
	if((frm.AFName.value!="") && (frm.ALName.value!="") && (frm.AdminConf.value!=""))
        {
		if(frm.AdminConf.value>=1 && frm.AdminConf.value<=100)
		{
			if(isNumberString(frm.AdminCrsExp.value))
                        {
				if(isNumberString(frm.cquota.value))
                        	{
					if(isNumberString(frm.uquota.value))
		                        {
                		               	frm.actionName.value=field.name;
                                		frm.submit();
                        		}
                        	}
			}
		}	
		else
		{
			alert("List Config. Value should be between 1 to 100");
		}
	}
        else
        {
		alert("None of the fields can be empty !!");
	}
}

function checkClear(frm,field)
{
	frm.AFName.value="";
        frm.ALName.value="";
}
function isNumberString(chString)
{
	if(chString.length==0)
        return false;
        var RefString="0123456789";
        for(count=0;count<chString.length;count++)
        {
        	tempChar=chString.charAt(count);
                	if(RefString.indexOf(tempChar)==-1)
                        {
                                alert("Value should be numeric")
                                return false;
                        }
        }
        return true;
}
</SCRIPT>
