#* * @(#)AdminParam.vm
 * Copyright (c) 2005,2009 ETRG,IIT Kanpur.
 * All Rights Reserved.
 * @author <a href="mailto:chitvesh@yahoo.com">Chitvesh Dutta</a>
 * @author <a href="mailto:awadhk_t@yahoo.com">Awadhesh Kumar Trivedi</a>
 * @author <a href="mailto:shaistashekh@hotmail.com">Shaista Bano</a>
 * modified date: 17-10-2009
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#
$page.setTitle("Admin Home | Change Parameters")

$page.setBgColor($ui.bgcolor)
$!data.getMessage()
#set($lang=$data.getUser().getTemp("lang").toString())
<table bgcolor="$ui.tableColor" width=100%>
<tr bgcolor="$ui.menuColor">
	<td colspan="2">
	<font face="$ui.sansSerifFonts" size=3>
	<b>
     	<a href=$link.setPage("Index.vm")>एडमिन   पृष्ठ</a> | एडमिन  की  रूपरेखा
	</td>
</tr>
<form name="frm" method="post" action="$link.setPage("call,AdminProfile,AdminParam.vm").setAction("changeAParam")">
    ##<tr><td bgcolor="#AFDCEC"><font size=4>एडमिन  की  रूपरेखा</font></td></tr>
    <tr><td><font size=4>एडमिन  की  रूपरेखा</font></td></tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("पहला नाम" "AFName" "$!afname")
	<td width="30"> <font face="$ui.sansSerifFonts"> पहला नाम </font></td> 
	<td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AFName" value="$!afname"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("अंतिम नाम" "ALName" "$!alname")	
	<td width="30"> <font face="$ui.sansSerifFonts"> अंतिम नाम </td>   
	<td width="50"> <font face="$ui.sansSerifFonts"><input type="text" size="30" name="ALName" value="$!alname"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("विन्यास(कनफिगरेशन) संख्या सूची" "AdminConf" "$!AdminConf")	
	<td width="30"> <font face="$ui.sansSerifFonts">विन्यास(कनफिगरेशन) संख्या सूची </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminConf" value="$!AdminConf"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("विषय   समापन  की  तिथि ( दिनों  में )" "AdminCrsExp" "$!CrsExp")	
	<td width="30"> <font face="$ui.sansSerifFonts"> विषय   समापन  की  तिथि ( दिनों  में ) </font></td>	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="AdminCrsExp" value="$!CrsExp"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("Mail Server नाम" "mailServ" "$!mServer")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang != "english") मेल शरवर का नाम #else मेल शरवर नाम #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailServ" value="$!mServer"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang != "english") मेल शरवर का पोर्ट #else मेल शरवर पोर्ट #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailServPort" value="$!mServerPort"> </font></td>
    </tr>

    <tr bgcolor="$ui.menuColor">
      ##formCell("Mail From" "mailFrom" "$!mFrom")	
	<td width="30"> <font face="$ui.sansSerifFonts"> मेल द्वारा </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts">  <input type="text" size="30" name="mailFrom" value="$!mFrom"> </font></td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formCell("लोकल Domain नाम" "mailDomain" "$!dName")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang != "english") लोकल डोमेन का नाम #else  लोकल डोमेन नाम #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="mailDomain" value="$!dName"> </font> </td>
    </tr>
    <tr bgcolor="$ui.menuColor">
      ##formCell("Mail प्रयोक्ता  नाम" "muName" "$!muname")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang !="english") मेल के प्रयोक्ता  का नाम #else  मेल प्रयोक्ता  नाम #end </font></td>
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="text" size="30" name="muName" value="$!muname"> </font> </td>
    </tr>
    <tr bgcolor="$ui.tableColor">
      ##formPasswordCell("Mail कूटशब्द" "mPass" "$!mPassword")	
	<td width="30"> <font face="$ui.sansSerifFonts"> #if($lang !="english") मेल का कूटशब्द #else मेल कूटशब्द #end</font></td>	
        <td width="50"> <font face="$ui.sansSerifFonts"> <input type="password" size="30" name="mPass" value="$!mPassword"> </font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">
	<td width=30><font face="$ui.sansSerifFonts">विषय   स्पेस  (कोटा) (में एम बी)</td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="cquota" value="$!cquota"></font></td>
</tr>
    <tr bgcolor="$ui.tableColor">
	<td width=30><font face="$ui.sansSerifFonts">प्रयोक्ता  स्पेस  (कोटा) (में एम बी)</td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="uquota" value="$!uquota"></font></td>
    </tr>
    <tr bgcolor="$ui.menuColor">

	<td width=30><font face="$ui.sansSerifFonts">पृष्ठ डायरेक्टरी </td>	
	<td width="50"><font face="$ui.sansSerifFonts"> <input type="text" size="30" name="hdir" value="$!hdir"></font></td>
</tr>
    <tr bgcolor="$ui.tableColor">
      <td colspan=2 bgcolor="$ui.menuColor">	
	  <input type="hidden" name="actionName">
          <input type="button" name="eventSubmit_doUpdate" value="प्रवेश  करें" onClick="checkValues(document.frm,this);"/>
	  <input type="reset" name="reset" value="पुनः  डालें" onClick="checkClear(document.frm,this);"/>
	  <input type="hidden" name="count" value="$tdcolor">
      </td>
    </tr>
</form>
</table>

<SCRIPT LANGUAGE="javascript">
function checkValues(frm,field)
{
	if((frm.AFName.value!="") && (frm.ALName.value!="") && (frm.AdminConf.value!=""))
        {
		if(frm.AdminConf.value>=1 && frm.AdminConf.value<=100)
		{
			if(isNumberString(frm.AdminCrsExp.value))
                        {
				if(isNumberString(frm.cquota.value))
                        	{
					if(isNumberString(frm.uquota.value))
		                        {
                		               	frm.actionName.value=field.name;
                                		frm.submit();
                        		}
                        	}
			}
		}	
		else
		{
			alert("List Config. Value should be between 1 to 100");
		}
	}
        else
        {
		alert("None of the fields can be empty !!");
	}
}

function checkClear(frm,field)
{
	frm.AFName.value="";
        frm.ALName.value="";
}
function isNumberString(chString)
{
	if(chString.length==0)
        return false;
        var RefString="0123456789";
        for(count=0;count<chString.length;count++)
        {
        	tempChar=chString.charAt(count);
                	if(RefString.indexOf(tempChar)==-1)
                        {
                                alert("Value should be numeric")
                                return false;
                        }
        }
        return true;
}
</SCRIPT>
