#*
 * @(#) InstEditCourse.vm
 * Copyright (c) 2010 ETRG,IIT Kanpur.
 * All Rights Reserved.
 *
 * @author <a href="mailto:sharad23nov@yahoo.com ">Sharad Singh</a>
 * @author  <a href="singh_jaivir@rediffmail.com">Jaivir Singh</a>  
 *
 * Contributors: Members of ETRG, I.I.T. Kanpur
*#

$page.setTitle("Admin Home | List Management | View All Courses | Edit Course")

$!data.getMessage()

#set($lang = $data.getUser().getTemp("lang" ).toString())
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="$ui.bgcolor" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<table bgcolor="$ui.menuColor" width=100%>
<tr>
	<td><font face="$ui.sansSerifFonts" size=3><a href=$link.setPage("Index.vm")>এডিমেনর মুখ্য় পৃষূঠা</a> |
     	##<a href=$link.setPage("call,ListMgmt_Admin,List_Mgmt.vm").addPathInfo("listcourse","listcourse").addPathInfo("mode","All").addPathInfo("actionstat","Edit")>তািলকার পিরচালন</a> |সম্পাদন কর িবষয় : $Courseid
	#if($lang == "hindi")
	<a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("mode","All").addPathInfo("listcourse","listcourse").addPathInfo("count","1")>নমন্ত িবষেয়র তািলকা</a> | $Courseid کے িবষয় সম্পাদন কর 
        #else
	<a href=$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("mode","All").addPathInfo("listcourse","listcourse").addPathInfo("count","1")>সমস্ত েদেখা িবষয়</a> | সম্পাদন কর িবষয় : $Courseid
        #end
	</td>
</tr>
</table>
<table width=100% align=left bgcolor="$ui.tableColor">
<tr>
	#if($tdcolor != "1")	
	<td>
	#elseif($tdcolor=="1")
	<td bgcolor="#AFDCEC">
	#end
        <a href="$link.setPage("call,ListMgmt_InstituteAdmin,InstList_Mgmt.vm").addPathInfo("listcourse","listcourse").addPathInfo("mode","All").addPathInfo("actionStat","Edit").addPathInfo("count","1")">সমস্ত েদেখা িবষয়</a>
        </td width=50%>
	#if($tdcolor != "2")	
	<td>
	#elseif($tdcolor=="2")
	<td bgcolor="#AFDCEC">
	#end
        <a href="$link.setPage("call,ListMgmt_InstituteAdmin,InstAdminviewall.vm").addPathInfo("mode","All").addPathInfo("count","2")">সমস্ত েদেখা ব্য়বহারকর্তা</a></td>
</tr>
</table>

<form name=frm method="post" action="$link.setPage("call,CourseMgmt_InstituteAdmin,InstEditCourse.vm").setAction("EditInstituteCourse")">
  <div align="left">
    ##<table align=left cellspacing=1 bgcolor="$ui.tableColor" cellpadding="5">
    <table align=left width=100% bgcolor="$ui.tableColor">
     #foreach($cd in $CourseDetail)
     	<tr bgcolor="$ui.menuColor">
		#entry1Cell("িবষয় আইিড" "$cd.getGroupName()")
     	</tr>
      	<tr>
        	#formCell ("িবষয় নাম" "Cname" "$cd.getCourseName()")
      	</tr>
      	<tr bgcolor="$ui.menuColor">
        	#formCell ("িবভাগ" "Department" "$cd.getDept()")
      	</tr>
      	<tr>
  	<td>
  		##<font face="$ui.sansSerifFonts">বর্ণনা </font> 
  		বর্ণনা 
  	</td>
	<td>
  		##<font face="$ui.sansSerifFonts"><textarea name="DESCRIPTION" rows=5 cols=60>$cd.getDescription()</textarea></font>
  		<textarea name="DESCRIPTION" rows=5 cols=60>$cd.getDescription()</textarea>
	</td>
      	</tr>
      	<tr bgcolor="$ui.menuColor">
  	<td>
  		##<font face="$ui.sansSerifFonts">সক্িরয় </font> <br><br>
  		##<font face="$ui.sansSerifFonts">িনস্ক্িরয়</font>
  		সক্িরয় <br>
  		িনস্ক্িরয়
	</td width=25%>
	<td>
		#if($cd.getActive() == "1")
			<input type="radio" name="isactive" checked value="1"><br>
			<input type="radio" name="isactive" value="0">
		#else
			<input type="radio" name="isactive" value="1"><br>
			<input type="radio" name="isactive" checked value="0">
		#end	
	</td>
      	</tr>
      	<tr bgcolor="$ui.menuColor">
	<td colspan=2 align=left>
		<input type="button" name="eventSubmit_doUpdate" onclick="confirmForUD(document.frm,this.name)" value="আপেডট" />
		#if($cd.getActive() == "1")
			<input type="button" name="eventSubmit_doshow" onclick="confirmForUD(document.frm,this.name)" value="মুিছয়া েফেলা" />
		#else
			<input type="button" name="eventSubmit_doDelete" onclick="confirmForUD(document.frm,this.name)" value="মুিছয়া েফেলা" />
		#end
	</td>
      	</tr>
	<input type="hidden" name="gName" value="$Courseid"/>
	<input type="hidden" name="actionButton">
	<input type="hidden" name="mode" value="All">
	<input type="hidden" name="count" value="$tdcolor">
	<input type="hidden" name="listcourse" value="listcourse">
	#end
    </table>
  </div>
</form>
<script LANGUAGE="javascript">
  function confirmForUD(frm,val){
	frm.actionButton.value=val;
	if(val=="eventSubmit_doDelete")
	{
     		if(confirm("The course is going to be removed ! Are you sure ?"))
		{
			frm.submit();
		}
		return;
        }
	else if(val=="eventSubmit_doshow")
	{
	alert("This is an active course. Can not be removed !")
	return;
	}
	frm.submit();
 }
</script>
